<section>
    <div class="categories">
        <span><strong>Menu</strong>&nbsp;&nbsp;&nbsp; Viraj Categories</span>
        <ng-container *ngFor="let category of this.dataProvider.currentMenu?.recommendedCategories">
            <app-category-card (click)="openCategory(category)" *ngIf="category.enabled" [category]="category"></app-category-card>
        </ng-container>
        <span>Your Categories</span>
        <ng-container *ngFor="let category of this.dataProvider.currentMenu?.viewCategories">
            <app-category-card (click)="openCategory(category)" *ngIf="category.enabled" [category]="category"></app-category-card>
        </ng-container>
        <span>Main Categories</span>
        <ng-container *ngFor="let category of this.dataProvider.currentMenu?.mainCategories">
            <app-category-card (click)="openCategory(category)" *ngIf="category.enabled" [category]="category"></app-category-card>
        </ng-container>
        <!-- <app-category-card (click)="openCategory(category)" *ngFor="let category of categories" [category]="category"></app-category-card>
        <app-category-card (click)="openCategory(category)" *ngFor="let category of categories" [category]="category"></app-category-card> -->
    </div>
</section>