@keyframes popIn {
    from {
        scale: 0.5;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

main {
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #A7321A;
    background-size: cover;
    background-image: url("^assets/images/login.png");
    justify-content: center;
    align-items: center;

    section {
        position: absolute;
        background: white;
        // scale: 0;
        width: 30vw;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
        // animation: popIn 0.6s 600ms cubic-bezier(0.65, 0, 0.35, 1) forwards;
        transition: all 0.3s;

        h1 {
            font-size: var(--Viraj-font-xxxxlarge);
            font-weight: 300;
            color: #000;
            margin-bottom: 0.5em;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            mat-form-field {
                width: 70%;
                .success{
                    color:var(--Viraj-success)
                }
                .error{
                    color:var(--Viraj-danger)
                }
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .textCenter {
            text-align: center;
        }

        &.multipleBusiness {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60vw;
            gap: 15px;
            p{
                margin:0px;
            }
            .businessWrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .business {
                    width: 300px;
                    height: 200px;
                    border: 2px solid #ccc;
                    border-radius: 20px;
                    box-shadow: 3px 0px 25px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    h5,
                    p {
                        margin: 0px;
                    }

                    h5 {
                        font-size: 20px;
                    }

                    .address {
                        font-size: 13px;
                        color: #aaa;
                    }

                    .account {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        span {
                            // color: #aaa;
                            font-size: 13px;
                        }

                        span.user {
                            display: grid;
                            // padding: 5px 15px;
                            border-radius: 30px;
                            // border: 1px solid var(--Viraj-primary);
                            grid-template-areas: 'user access access' 'user date date';
                            font-size: 15px;
                            color: var(--Viraj-primary);

                            i {
                                grid-area: user;
                                font-size: 20px;
                            }

                            div {
                                grid-area: access;
                                text-align: start;
                            }

                            span {
                                grid-area: date;
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }

    }

    section.onboarding {
        width: 45vw;

        mat-form-field {
            width: 100%;
        }

        .upload {
            padding: 20px;
            width: 100%;
            margin-bottom: 19px;
            box-sizing: border-box;
            border: 2px dashed #ccc;
            border-radius: 5px;
            display: flex;
            cursor: pointer;

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 60px;
                    height: 60px;
                    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
                    border-radius: 20px;
                }

                p {
                    font-size: var(--Viraj-font-large);
                    margin: 0px;
                }
            }

            .uploaded {
                justify-content: flex-start;
            }
        }

        form.onboarding {
            display: grid;
            grid-template-columns: 1fr 1fr;

            mat-form-field {
                width: 100%;
            }

            .upload {
                grid-column: 1/3;
            }

            button {
                grid-column: 1/3;
            }
        }

        form.securityForm {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            h1,
            p,
            button {
                grid-column: 1/3;
            }
        }

        .accounts {
            display: flex;
            flex-direction: column;

            .account {
                display: flex;
                align-items: center;
            }
        }

        .actions {
            grid-column: 1/3;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .categories {
            list-style: none;
            padding: 0px;
            display: flex;
            flex-direction: row;
            max-height: 40vh;
            overflow-y: scroll;
            gap: 10px;
            padding: 10px;
            max-width: 600px;

            .categoryCard {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                background: white;
                border-radius: 10px;
                padding: 15px;
                border: 2px dashed #ccc;

                h4 {
                    margin: 0px;
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                .categoryProducts {
                    max-height: 200px;
                    overflow-y: scroll;
                }
            }
        }

        .selectImage {
            border: 2px dashed #ccc;
            height: 150px;
            padding: 20px;
            border-radius: 20px;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                max-height: 100px;
            }
        }

        .tableContainer {
            max-height: 200px;
            overflow-y: scroll;

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    position: sticky;
                    top: 0;
                    background: white;

                    tr {
                        padding: 15px;
                        border: 1px solid #ddd;
                        background: white;

                        th {
                            padding: 10px;
                            border: 1px solid #ddd;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 10px;
                            border: 1px solid #ddd;
                        }
                    }
                }
            }
        }
    }
    section.flexList{
        display: flex;
        flex-direction: column;
    }
}