section {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 20px 10px;
  align-items: center;
  // border-bottom: 2px solid #ccc;
  .info {
    color: #444444;
    font-family: var(--Vrajera-font);
    padding: 0px 10px;
    p {
      font-weight: 400;
      margin: 0px;
      font-size: var(--Vrajera-font-xxlarge);
    }
    span {
      font-weight: 400;
      margin: 0px;
      color: rgb(95, 95, 95);
      font-size: var(--Vrajera-font-medium);
      margin-right: 10px;
      word-break: break-all;
    }
    button[mat-stroked-button] {
      border: 2px solid var(--Vrajera-primary);
    }
  }
}
@media (max-width: 1370px) {
  section {
    gap: 5px;
    padding: 5px;
    .info {
      padding: 0px;
      p {
        text-overflow: clip;
        font-size: var(--Vrajera-font-large);
      }
    }
  }
}
