section{
    width: 70vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    padding: 20px;
    .view{
        display: grid;
        grid-template-columns: 1fr 3fr;
        background: white;
        gap:20px;
        overflow-y: auto;
        border-radius: 20px 20px 0px 0px;
        .sidebar{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 20px 0px 0px 20px;
            .categories{
                height: 100%;
                overflow-y: auto;
                margin-left: -20px;
                height: calc(60vh - 30px);
                span{
                    position: sticky;
                    z-index: 1;
                    top: 0;
                    height: 30px;
                    background: white;
                    display: flex;
                    align-items: center;
                    padding: 10px 10px;
                    color:var(--Viraj-primary);
                    font-size: var(--Viraj-font-large);
                    strong{
                        color:black;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .main{
            display: flex;
            flex-direction: column;
            padding-right: 50px;
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .actions{
                    width: 300px;
                    display: flex;
                    gap:20px;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .filters{
                display: grid;
                grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 10px;
                .pricing{
                    display: flex;
                    gap:40px;
                    justify-content: space-between;
                    align-items: center;
                }
                form{
                    display: flex;
                    gap: 15px;
                }
            }
            .productList{
                display: flex;
                flex-direction: column;
                height: calc( 70vh - 200px);
                overflow-y: auto;
                gap:6px;
                .product{
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    height: 50px;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
                    .pricing{
                        display: flex;
                        align-items: center;
                        gap:20px;
                        strong{
                            color:var(--Viraj-success);
                        }
                    }
                }
            }
        }
    }
    .action{
        display: flex;
        justify-content: center;
        height: 70px;
        background: white;
        border-radius: 0px 0px 20px 20px;
    }
}
.product{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    .pricing{
        display: flex;
        align-items: center;
        gap:20px;
        strong{
            color:var(--Viraj-success);
        }
    }
}