<section>
  <mat-tab-group>
    <ng-container *ngFor="let mode of this.dataProvider.menus">
      <mat-tab [label]="mode.name" *ngIf="mode.active">
        <div class="view">
          <div class="sidebar">
            <button mat-stroked-button color="primary" (click)="addNewMenu()">
              Add New Menu
            </button>
            <mat-select
            placeholder="Menu"
            [(ngModel)]="mode.selectedMenuId"
            (selectionChange)="mode.updateMenu()"
            name="menu"
          >
            <mat-option *ngFor="let menu of this.dataProvider.allMenus" [value]="menu.id">
              {{ menu.name }}
            </mat-option>
          </mat-select>
          <div class="categories">
            <span>Product List</span>
            <app-category-card [full]="true"
              (click)="
                mode.selectCategory(mode.allProductsCategory);
                mode.currentType = 'all'
              "
              [category]="mode.allProductsCategory"
            ></app-category-card>
            <span>Recommended</span>
            <app-category-card [full]="true"
              *ngFor="let category of mode.recommendedCategories"
              (click)="
                mode.selectCategory(category);
                mode.currentType = 'recommended'
              "
              [category]="category"
            ></app-category-card>
            <span
              >View Categories<viraj-button
                type="icon"
                (vclick)="mode.addViewCategory()"
                ><i class="ri-add-box-fill"></i></viraj-button
            ></span>
            <app-category-card [full]="true"
              *ngFor="let category of mode.viewCategories"
              (click)="
                mode.selectCategory(category); mode.currentType = 'view'
              "
              [category]="category"
            ></app-category-card>
            <span>Main Categories</span>
            <app-category-card [full]="true"
              *ngFor="let category of mode.mainCategories"
              (click)="
                mode.selectCategory(category); mode.currentType = 'root'
              "
              [category]="category"
            ></app-category-card>
          </div>
          </div>
          <div class="main" *ngIf="mode.selectedCategory">
            <div class="title">
              <div class="actions">
                <h2>{{ mode.selectedCategory.name }}</h2>
              </div>
            </div>
            <div class="filters">
              <mat-form-field appearance="outline">
                <mat-label>Search Item</mat-label>
                <input
                  type="text"
                  placeholder="Search Item"
                  matInput
                  (input)="mode.searchSubject.next(text.value)"
                  #text
                />
              </mat-form-field>
              <ng-container class="actions">
                <button mat-stroked-button color="primary" (click)="mode.disableAll()">
                  Disable All
                </button>
                <button mat-stroked-button color="primary" (click)="mode.enableAll()">
                  Enable All
                </button>
                <button
                  *ngIf="['all'].includes(mode.currentType)"
                  mat-stroked-button
                  mat-button
                  (click)="mode.addRecipe(mode.selectedMenuId)"
                  color="primary"
                >
                  Add Recipe
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="mode.addRecipe(mode.selectedMenuId)">New Dish</button>
                  <button mat-menu-item (click)="mode.selectRecipe()">Old Dish</button>
                  <button mat-menu-item>Upload From Excel</button>
                  <button mat-menu-item (click)="mode.getExcelFormat()">
                    Get Excel Format
                  </button>
                </mat-menu>
                <span *ngIf="mode.currentType != 'all'">
                  <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="mode.selectedCategory.enabled"
                    (change)="mode.selectedCategory.updated= true;"
                  ></mat-slide-toggle>
                </span>
              </ng-container>
            </div>
            <div class="printerSettings" *ngIf="mode.currentType == 'root'">
              <mat-form-field appearance="outline">
                <mat-label>Select Printer</mat-label>
                <mat-select
                  [(ngModel)]="mode.selectedCategory.printer"
                  (selectionChange)="mode.updatePrinter(mode.selectedCategory)"
                  name="printer">
                  <mat-option>
                    Select
                  </mat-option>
                  <mat-option [value]="printer" *ngFor="let printer of printers">
                    {{printer}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filters">
              <h4>Recommendation Setting</h4>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'highRange'
                "
              >
                <form
                  [formGroup]="mode.highRangeForm"
                  (ngSubmit)="mode.recommendationSave('highRange')"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Min Price</mat-label>
                    <input type="number" formControlName="min" matInput />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Max Price</mat-label>
                    <input type="number" formControlName="max" matInput />
                  </mat-form-field>
                  <button
                    color="primary"
                    mat-flat-button
                    *ngIf="mode.highRangeForm.touched"
                  >
                    Save
                  </button>
                </form>
              </ng-container>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'lowRange'
                "
              >
                <form
                  [formGroup]="mode.lowRangeForm"
                  (ngSubmit)="mode.recommendationSave('lowRange')"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Min Price</mat-label>
                    <input type="number" matInput formControlName="min" />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Max Price</mat-label>
                    <input type="number" matInput formControlName="max" />
                  </mat-form-field>
                  <button
                    color="primary"
                    mat-flat-button
                    *ngIf="mode.lowRangeForm.touched"
                  >
                    Save
                  </button>
                </form>
              </ng-container>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'mostSelling'
                "
              >
                <form
                  [formGroup]="mode.mostSellingForm"
                  (ngSubmit)="mode.recommendationSave('mostSelling')"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Min Sales</mat-label>
                    <input type="number" matInput formControlName="min" />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Max Sales</mat-label>
                    <input type="number" matInput formControlName="max" />
                  </mat-form-field>
                  <button
                    color="primary"
                    mat-flat-button
                    *ngIf="mode.mostSellingForm.touched"
                  >
                    Save
                  </button>
                </form>
              </ng-container>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'newDishes'
                "
              >
                <form
                  [formGroup]="mode.newDishesForm"
                  (ngSubmit)="mode.recommendationSave('newDishes')"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Minimum date *</mat-label>
                    <input
                      matInput
                      [matDatepicker]="minPicker"
                      required
                      formControlName="min"
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="minPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #minPicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Maximum date (Optional)</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="max" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <button
                    color="primary"
                    mat-flat-button
                    *ngIf="mode.newDishesForm.touched"
                  >
                    Save
                  </button>
                </form>
              </ng-container>
            </div>
            <div class="productList">
              <p>Total {{ mode.selectedCategory.products.length }} Products</p>
              <mat-spinner mode="indeterminate" *ngIf="mode.selectedCategory.loading"></mat-spinner>
              <div
                class="product"
                *ngFor="
                  let product of mode.filteredProducts.length > 0
                    ? mode.filteredProducts
                    : mode.selectedCategory.products
                "
              >
                <p>{{ product.name }}</p>
                <div class="pricing">
                  <strong>{{ product.price | currency : "INR" }}</strong>
                  <mat-slide-toggle
                    checked
                    [(ngModel)]="product.visible"
                    (toggleChange)="
                      mode.productVisibilityChanged = true; product.updated = true
                    "
                  ></mat-slide-toggle>
                  <!-- <viraj-button
                    *ngIf="mode.currentType == 'all'"
                    (vclick)="mode.openProductCosting(product)"
                    >Costing</viraj-button
                  > -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
  <!-- <div class="action">
    <button
      *ngIf="!(productVisibilityChanged || categoryUpdated)"
      mat-flat-button
      color="primary"
    >
      Add New Product
    </button>
    <button
      *ngIf="productVisibilityChanged"
      mat-flat-button
      color="primary"
      (click)="saveProductVisiblity()"
    >
      Save
    </button>
    <button
      *ngIf="categoryUpdated"
      mat-flat-button
      color="primary"
      (click)="saveCategoryVisibility()"
    >
      Save
    </button>
  </div> -->
</section>
