<section matRipple *ngIf="dataProvider.clientHeight >= 717">
  <p>Receiving</p>
  <span class="approved" *ngIf="dataProvider.clientHeight >= 896">
    <p>{{ approved }}</p>
    <p>Approved</p>
  </span>
  <span class="pending" *ngIf="dataProvider.clientHeight >= 896">
    <p>{{ pending }}</p>
    <p>Pending</p>
  </span>
  <i class="ri-arrow-right-s-line"></i>
</section>
<viraj-button *ngIf="dataProvider.clientHeight < 717 && pending > 0">
  <!-- <mat-icon>south</mat-icon> -->
  {{ pending }}
</viraj-button>
<viraj-button *ngIf="dataProvider.clientHeight < 717 && pending == 0">
  <!-- <mat-icon>south</mat-icon> -->
  {{ approved }}
</viraj-button>
<!-- <button mat-icon-button color="primary" *ngIf="dataProvider.clientHeight < 717">
    <mat-icon>south</mat-icon>
</button> -->
