form {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  gap: 20px;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  }
}
