
// slide in animation
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
section{
    padding: 20px;
    background: white;
    width: calc( 100vw - 40px);
    height: calc( 100vh - 40px);
    animation: slideIn 0.5s ease-in-out;
    .close{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    .title{
        display: flex;
        justify-content: space-between;
        .legends{
            display: flex;
            gap:30px;
            .legend{
                display: flex;
                align-items: center;
                gap:10px;
                span{
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background: #ccc;
                    box-shadow: 0px 0px 20px 0px #00000009;
                }
            }
            .legend:nth-child(1){
                span{
                    background: #ccc;
                    border:#aaa 2px solid;
                }
            }
            .legend:nth-child(2){
                span{
                    background: #ff7272;
                    border:#ff4848 2px solid;
                }
            }
            .legend:nth-child(3){
                span{
                    background: #4080c4;
                    border: #4484bd 2px solid;
                }
            }
            .legend:nth-child(4){
                span{
                    background: #FFF1E2;
                    border: var(--Viraj-primary) 2px solid;
                }
            }
        }
        .actions{
            display: flex;
            gap: 20px;
            button{
                border:2px solid var(--Viraj-primary);
                background: white;
                color: var(--Viraj-primary);
                padding: 10px 10px;
                border-radius: 5px;
                font-size: var(--Viraj-font-large);
            }
        }
    }
    .modes{
        display: flex;
        justify-content: space-between;
    }
    .tableWrapper{
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
        padding-bottom: 300px;
        .heading{
            display: flex;
            gap:20px;
            align-items: center;
        }
        .moveKotButton{
            background: #FF5E35;
            border: none;
            color:white;
            padding: 7px 14px;
            height: min-content;
            border-radius: 6px;
            font-size: var(--Viraj-font-large);
            p{
                margin: 0px;
            }
        }
        .moveKotButton.active{
            background: var(--Viraj-success);
        }
    }
    .tables{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:20px;
        button.table{
            width: 120px;
            height: 120px;
            background: #f4f4f4;
            border: 2px solid #ccc;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
            gap:4px;
            transition: scale 0.4s cubic-bezier(0.65, 0, 0.35, 1);
            box-sizing: content-box;
            *{
                font-size: var(--Viraj-font-xlarge);
            }
            p{
                margin:0px;
            }
            p.name{
                font-size: var(--Viraj-font-large);
                font-weight: 500;
            }
            &:hover{
                cursor: pointer;
                background: #fff1e2;
                border-color: var(--Viraj-primary);
                scale: 1.05;
            }
            .actions{
                display: flex;
            }
        }
        .table.active{
            background: #FFF1E2;
            border-color: var(--Viraj-primary);
        }
        .table.highlight{
            border: 3px solid var(--Viraj-success);
            background: #e4ffe8;
            &:hover{
                cursor: pointer;
                background: #e4ffe8;
                border-color: var(--Viraj-success);
                scale: 1.05;
            }
        }
        .table.late{
            border: 3px solid var(--Viraj-danger);
            background: #ff4848;
            *{
                color:white !important;
            }
            &:hover{
                cursor: pointer;
                background: #ff5656;
                border-color: var(--Viraj-primary);
                scale: 1.05;
            }
        }
        .table.finalized{
            background: #4080c4;
            border: #4484bd 2px solid;
            *{
                color:white !important;
            }
            &:hover{
                cursor: pointer;
                background: #6aade8;
                border-color: #4080c4;
                scale: 1.05;
            }
        }
        .empty{
            border: 2px dashed #aaa;
            background: #FCFCFC;
            color:black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .table.disabled{
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
        button.medium{
            width: 90px !important;
            height: 90px !important;
            *{
                font-size: var(--Viraj-font-large) !important;
            }
        }
        button.small{
            width: 60px !important;
            height: 60px !important;
            *{
                font-size: var(--Viraj-font-medium) !important;
            }
        }
    }
}
section.moveKot{
    .tableWise{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:30px;
        .tableWrapper{
            max-height: 80vh;
        }
        .to,.from{
            display: flex;
            flex-direction: column;
        }
    }
    .actions{
        display: flex;
        gap:15px;
        padding-top: 10px;
    }
    .kotWise{
        display: grid;
        grid-template-columns: 1.2fr 3fr;
        .kotSpan{
            max-height: calc( 80vh - 100px);
            overflow-y: scroll;
            .kots{
                display: flex;
                flex-direction: column;
                gap:20px;
                .kot{
                    border: 2px solid #ccc;
                    border-radius: 10px;
                    padding: 10px;
                    .heading{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap:20px;
                        padding: 10px;
                        background: #eee;
                        border-radius: 10px 10px 0px 0px;
                        span{
                            display: flex;
                            gap:5px;
                            p{
                                margin:0px;
                            }
                        }
                    }
                    ol{
                        list-style: none;
                        padding: 0px;
                        li{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap:20px;
                            margin: 10px 0px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .tablesSpan{

        }

    }
}

@media screen and (max-width: 1366px){
    section{
        .tables{
            button.table{
                width: 100px;
                height: 100px;
            }
        }
        .moveKotButton{
            padding: 10px 20px !important;
        }
    }
}
@media screen and (max-width: 1100px){
    section{
        .tables{
            button.table{
                width: 80px;
                height: 80px;
            }
        }
    }
}