<section>
    <div class="heading">
      <h2>History</h2>
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="getReport()"
          [(ngModel)]="selectedDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Search Bill No</mat-label>
        <input type="text" matInput (input)="numberSearchSubject.next(numberSearch.value)" #numberSearch>
      </mat-form-field>
      <div class="consolidated">
        <mat-form-field appearance="outline">
          <mat-label>Minimum Amount</mat-label>
          <input type="number" [(ngModel)]="minimumAmount" matInput>
        </mat-form-field>
        <viraj-button (vclick)="generateConsolidatedReport()">
          Generate Consolidated Report
        </viraj-button>
      </div>
    </div>
    <hr />
    <div class="bills">
      <div class="bill" *ngFor="let bill of this.filteredBills.length > 0 ? this.filteredBills : bills">
        <table class="main">
          <tr>
            <td>Bill No</td>
            <td>{{bill.billNo}}</td>
          </tr>
          <tr>
            <td>Token No</td>
            <td>{{bill.orderNo}}</td>
          </tr>
          <tr>
            <td>Table No</td>
            <td>{{bill.table}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{bill.billing.grandTotal | currency:'INR'}}</td>
          </tr>
          <tr>
            <td><viraj-button color="primary" (click)="reprintBill(bill)">Reprint Bill</viraj-button></td>
            <td><viraj-button color="primary" (click)="bill.kotVisible = !bill.kotVisible">See Kots</viraj-button></td>
          </tr>
        </table>
        <div *ngIf="bill.kotVisible">
          <hr>
          <table>
            <tr>
              <th>Kot No</th>
              <th>Products</th>
              <th>Print</th>
            </tr>
            <tr *ngFor="let kot of bill.kots" class="border">
              <td>{{kot.id}}</td>
              <td>{{kot.products.length}}</td>
              <td><viraj-button type="icon" (click)="reprintKot(kot,bill)"><i class="ri-printer-fill"></i></viraj-button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</section>
  