<section>
  <div class="row">
    <div class="col">
      <div class="detail">
        <h4>Outlet Name</h4>
        <p>Outlet Location</p>
      </div>
      <div class="row">
        <div class="detail">
          <h4>Close in by Name</h4>
          <p>{{ closeInName }}</p>
        </div>
        <div class="detail">
          <h4>Close In Time</h4>
          <p>{{ date | date: "shortTime" }}</p>
        </div>
      </div>
    </div>
    <img src="assets/images/ui/locked.png" alt="Locked" />
  </div>
  <button mat-flat-button color="primary">Send Unlock Request</button>
</section>
