<ng-container
  *ngFor="
    let item of this.dataProvider.currentBill?.editKotMode?.newKot;
    let i = index
  "
>
  <app-kot-item
    [@zoomInOnEnter]
    [@zoomOutOnLeave]
    [kotId]="this.dataProvider.currentBill?.editKotMode?.kot?.id || ''"
    [product]="item"
    (delete)="delete.emit(item)"
    [kotNo]="this.dataProvider.currentBill?.editKotMode?.kotIndex || 0"
    [quantity]="item.quantity"
    [productName]="item.name"
    [nonVeg]="item.type == 'non-veg'"
    [price]="item.price"
    *ngIf="item.itemType == 'product'"
  ></app-kot-item>
  <app-combo-item
    (delete)="delete.emit(item)"
    [editMode]="true"
    [kotId]="this.dataProvider.currentBill?.editKotMode?.kot?.id"
    [@zoomInOnEnter]
    [@zoomOutOnLeave]
    [combo]="item"
    [activeKotIndex]="this.dataProvider.currentBill?.editKotMode?.kotIndex || 0"
    *ngIf="item.itemType == 'combo'"
  >
  </app-combo-item>
</ng-container>
