section {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  form {
    display: flex;
    flex-direction: column;
  }
  flex-direction: column;
  gap: 15px;
  h2 {
    margin-bottom: 0px;
  }
  p {
    margin-top: 0px;
  }
  .actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
