h3 {
  position: sticky;
  top: 0px;
  background: white;
  margin: 0px;
  padding: 20px;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
section {
  // height: 100%;
  table {
    width: 100%;
    padding: 10px;
  }
  button {
    // border: 1.5px solid var(--Viraj-primary);
    border-radius: 4px;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    mat-icon {
      font-size: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: var(--Viraj-primary);
    }
  }
}
@media (max-width: 1200px) {
  h3 {
    padding: 10px 20px;
    font-size: var(--Viraj-font-medium);
  }
  table {
    padding: 4px !important;
    td {
      font-size: var(--Viraj-font-small);
      img {
        width: 20px;
      }
      button {
        // border: 1.5px solid var(--Viraj-primary);
        border-radius: 4px;
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        mat-icon {
          font-size: 15px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: var(--Viraj-primary);
        }
      }
    }
  }
}
