<h3>Active Modes</h3>
<div class="modes">
  <mat-slide-toggle
    [(ngModel)]="modes[0]"
    (change)="updateMode()"
    [disabled]="twoModeDeactived && modes[0]"
    >Dine In</mat-slide-toggle
  >
  <mat-slide-toggle
    [(ngModel)]="modes[1]"
    (change)="updateMode()"
    [disabled]="twoModeDeactived && modes[1]"
    >Takeaway</mat-slide-toggle
  >
  <mat-slide-toggle
    [(ngModel)]="modes[2]"
    (change)="updateMode()"
    [disabled]="twoModeDeactived && modes[2]"
    >Online</mat-slide-toggle
  >
</div>
<hr />
<h3>More Config</h3>
<form class="form" [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>Project Name:</mat-label>
    <input matInput type="text" formControlName="hotelName" />
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>Phone Number:</mat-label>
    <input matInput type="text" formControlName="phone" />
  </mat-form-field>
  <mat-form-field class="example-form-field fullWidth" appearance="outline">
    <mat-label>Address:</mat-label>
    <input matInput type="text" formControlName="address" />
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>GST No:</mat-label>
    <input matInput type="text" formControlName="gst" />
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>FSSAI No:</mat-label>
    <input matInput type="text" formControlName="fssai" />
  </mat-form-field>
  <button
    color="primary"
    style="margin-right: 20px"
    mat-flat-button
    type="submit"
  >
    Submit
  </button>
</form>
