section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding:20px;
    box-shadow: 3px 5px 20px rgba(0,0,0,0.5);
    img{
        width: 200px;
        height: auto;
    }
    h2{
        margin-top: 0px;
    }
    p{
        color:#aaa;
    }
}