section{
    background: white;
    padding: 30px;
    border-radius: 5px;
    min-height: 70vh;
    width: 80vw;
    .heading{
      display: flex;
      justify-content: space-between;
    }
    .bills{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        .bill{
            padding: 14px;
            border-radius: 7px;
            box-shadow: 2px 4px 20px rgba(0,0,0,0.2);
            table.main{
                color:green;
            }
            table{
                td:nth-child(1){
                    text-align: start;
                }
                td:nth-child(2){
                    text-align: end;
                }
            }
        }
    }
}