<!-- <section>
  <div class="close">
    <viraj-button type="icon" (vclick)="dialogRef.close()"
      ><i class="ri-close-line"></i
    ></viraj-button>
  </div>
  <div class="main">
    <div class="tabs">
      <button
       *ngIf="this.dataProvider.getAccess('about')"
        (click)="activeTab = 'about'"
        [ngClass]="{ active: activeTab == 'about' }"
      >
        About
      </button>
      <button
      *ngIf="this.dataProvider.getAccess('businessSettings')"
        (click)="activeTab = 'config'"
        [ngClass]="{ active: activeTab == 'config' }"
      >
        Business
      </button>
      <button
        (click)="activeTab = 'account'"
        *ngIf="this.dataProvider.getAccess('accountSettings')"
        [ngClass]="{ active: activeTab == 'account' }"
      >
        Account
      </button>
      <button
        *ngIf="this.dataProvider.getAccess('paymentMethods')"
        (click)="activeTab = 'payment'"
        [ngClass]="{ active: activeTab == 'payment' }"
      >
        Payments
      </button>
      <button
        *ngIf="this.dataProvider.getAccess('advancedSettings')"
        (click)="activeTab = 'view'"
        [ngClass]="{ active: activeTab == 'view' }"
      >
        Settings
      </button>
    </div>
    <div class="active spaced" [ngSwitch]="activeTab">
      <app-printer *ngSwitchCase="'printer'"></app-printer>
      <app-account *ngSwitchCase="'account'"></app-account>
      <app-view *ngSwitchCase="'view'"></app-view>
      <app-about *ngSwitchCase="'about'"></app-about>
      <app-config *ngSwitchCase="'config'"></app-config>
      <app-discount *ngSwitchCase="'discount'"></app-discount>
      <app-payment *ngSwitchCase="'payment'"></app-payment>
      <app-taxes *ngSwitchCase="'taxes'"></app-taxes>
      <app-loyalty *ngSwitchCase="'loyalty'"></app-loyalty>
      <app-offers *ngSwitchCase="'offers'"></app-offers>
    </div>
  </div>
</section> -->

<section>
  <div class="header">
    <h1>Settings</h1>
    <button mat-icon-button (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="About">
      <app-about></app-about>
    </mat-tab>
    <mat-tab label="Business">
      <app-config></app-config>
    </mat-tab>
    <mat-tab label="Account">
      <app-account></app-account>
    </mat-tab>
    <mat-tab label="Pay Methods">
      <app-payment></app-payment>
    </mat-tab>
    <mat-tab label="Advanced">
      <app-view></app-view>
    </mat-tab>
  </mat-tab-group>
</section>
