<section>
  <div class="close">
    <viraj-button type="icon" (vclick)="dialogRef.close()"
      ><i class="ri-close-line"></i
    ></viraj-button>
  </div>
  <div class="main">
    <div class="tabs">
      <button
        (click)="activeTab = 'about'"
        [ngClass]="{ active: activeTab == 'about' }"
      >
        About
      </button>
      <button
        (click)="activeTab = 'config'"
        [ngClass]="{ active: activeTab == 'config' }"
      >
        Business
      </button>
      <button
        (click)="activeTab = 'account'"
        *ngIf="this.dataProvider.getAccess(['admin'])"
        [ngClass]="{ active: activeTab == 'account' }"
      >
        Account
      </button>
      <button
        (click)="activeTab = 'discount'"
        [ngClass]="{ active: activeTab == 'discount' }"
      >
        Discounts
      </button>
      <button
        (click)="activeTab = 'payment'"
        [ngClass]="{ active: activeTab == 'payment' }"
      >
        Payments
      </button>
      <button
        (click)="activeTab = 'taxes'"
        [ngClass]="{ active: activeTab == 'taxes' }"
      >
        Taxes
      </button>
      <button
        (click)="activeTab = 'view'"
        [ngClass]="{ active: activeTab == 'view' }"
      >
        Settings
      </button>
      <!-- <button
        (click)="activeTab = 'loyalty'"
        [ngClass]="{ active: activeTab == 'loyalty' }"
      >
        Loyalty
      </button>
      <button
        (click)="activeTab = 'offers'"
        [ngClass]="{ active: activeTab == 'offers' }"
      >
        Offers
      </button> -->
    </div>
    <div class="active spaced" [ngSwitch]="activeTab">
      <app-printer *ngSwitchCase="'printer'"></app-printer>
      <app-account *ngSwitchCase="'account'"></app-account>
      <app-view *ngSwitchCase="'view'"></app-view>
      <app-about *ngSwitchCase="'about'"></app-about>
      <app-config *ngSwitchCase="'config'"></app-config>
      <app-discount *ngSwitchCase="'discount'"></app-discount>
      <app-payment *ngSwitchCase="'payment'"></app-payment>
      <app-taxes *ngSwitchCase="'taxes'"></app-taxes>
      <app-loyalty *ngSwitchCase="'loyalty'"></app-loyalty>
      <app-offers *ngSwitchCase="'offers'"></app-offers>
    </div>
  </div>
</section>
