section {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #c7c7c7;
  background: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c7c7c7;
    padding: 0px 20px;
  }
  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    form {
      display: grid;
      grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr;
      gap: 20px;
      .rate{
        display: flex;
        align-items: center;
        border:1px solid #9e9e9e;
        border-radius: 4px;
        padding: 10px 20px;
        height: 34px;
        font-size: 14px;
        gap: 10px;
        input{
            height: 100%;
            width: 100%;
            border: none;
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
        span{
            font-size: 16px;
            font-weight: 600;
            width: 100px;
            color: #444;
        }
      }
    }
    mat-accordion {
      display: flex;
      flex-direction: column;
      gap: 30px;
      mat-expansion-panel {
        border: 2px solid #c7c7c7;
        background: white;
        border-radius: 8px;
        .items {
          display: flex;
          flex-direction: column;
          .itemHead {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr;
            gap: 30px;
          }
          .item {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr;
            gap: 30px;
            border-bottom: 2px solid #c7c7c7;
            input{
                border: 2px solid #c7c7c7;
                padding: 5px 10px;
                font-size: var(--Viraj-font-medium);
                color:var(--Viraj-primary);
                border-radius: 4px;
            }
          }
        }
      }
    }
  }
  .stickyActions {
    position: sticky;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-end;
    background: white;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    gap:20px;
  }
}
