<section
  class="customerInfo"
  [ngClass]="{ pad: padding }"
  *ngIf="this.dataProvider.currentBill"
>
  <h4>Customer Info</h4>
  <form [formGroup]="customerInfoForm" (ngSubmit)="submit()">
    <ng-container *ngIf="this.dataProvider.currentBill">
      <span class="danger"
        ><sup>*</sup> You need to add phone number to save or fetch
        details.</span
      >
      <div>
        <input
          (input)="this.searchString.next(phoneInput.value)"
          type="tel"
          matInput
          [matAutocomplete]="auto"
          formControlName="phone"
          placeholder="Phone Number"
          #phoneInput
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectCustomer($event)"
        >
          <mat-option *ngFor="let street of foundCustomers" [value]="street">
            {{ street.phone }}
          </mat-option>
        </mat-autocomplete>
        <input type="text" formControlName="name" placeholder="Customer Name" />
        <input type="text" formControlName="gst" placeholder="Gst" />
        <input matInput placeholder="Address" formControlName="address" />
        <input
          *ngIf="this.dataProvider.currentBill?.mode == 'online'"
          type="text"
          formControlName="deliveryName"
          placeholder="Agent Name"
        />
        <input
          *ngIf="this.dataProvider.currentBill?.mode == 'online'"
          type="tel"
          formControlName="deliveryPhone"
          placeholder="Agent Phone"
        />
      </div>
      <p *ngIf="!this.dataProvider.currentBill.menu.selectedLoyaltyId">
        You cannot set loyalty because you haven't selected any loyalty setting.
      </p>
      <ng-container
        *ngIf="
          this.dataProvider.currentBill &&
          this.dataProvider.currentBill.menu.selectedLoyaltyId &&
          this.dataProvider.currentBill.customerInfo &&
          this.customerInfoForm.controls.phone.valid &&
          this.customerInfoForm.controls.phone.value &&
          this.customerInfoForm.valid
        "
      >
        <div class="customerCard">
          <p>
            Total Bills:
            {{
              this.dataProvider.currentBill.customerInfo?.totalBills || "N/A"
            }}
          </p>
          <!-- <p>Last Bill Amount: {{this.dataProvider.currentBill.customerInfo?.lastBillAmount || 'N/A'}}</p> -->
          <p>
            Last Bill Date:
            {{
              (this.dataProvider.currentBill.customerInfo?.lastBillDate?.toDate()
                | date: "short") || "N/A"
            }}
          </p>
        </div>
        <hr />
        <h4>Loyalty Settings</h4>
        <form [formGroup]="loyaltySettingForm" class="loyaltyForm">
          <mat-checkbox formControlName="receiveLoyalty"
            >Avail New Points
            <app-helper
              tooltip="If you check this the customer will receive new points from this bill."
            ></app-helper
          ></mat-checkbox>
          <div
            class="redeem"
            *ngIf="this.dataProvider.currentBill?.customerInfo?.loyaltyPoints"
          >
            <mat-checkbox
              formControlName="redeemLoyalty"
              *ngIf="!this.loyaltySettingForm.value.redeemLoyalty"
              >Redeem Loyalty
              <app-helper
                tooltip="If you check this then you will be able to use the points of customer."
              ></app-helper
            ></mat-checkbox>
            <mat-checkbox
              formControlName="redeemLoyalty"
              *ngIf="this.loyaltySettingForm.value.redeemLoyalty"
            >
              <input
                type="number"
                [attr.placeholder]="
                  'Max: ' +
                  this.dataProvider.currentBill?.customerInfo?.loyaltyPoints
                "
                (change)="setLoyaltyCost(toBeRedeemedPoints.value)"
                formControlName="totalToBeRedeemedPoints"
                #toBeRedeemedPoints
              />
              <span>
                =
                <strong>{{
                  this.dataProvider.currentBill?.currentLoyalty
                    ?.totalToBeRedeemedCost | currency: "INR"
                }}</strong></span
              >
            </mat-checkbox>
          </div>
        </form>
        <hr />
      </ng-container>
      <h4>Charges Settings</h4>
      <form [formGroup]="chargesForm">
        <div>
          <div class="chargeInput"
          *ngIf="
              this.dataProvider.customCharges[
                this.dataProvider.currentBill?.mode
              ].includes('service')
            "
          >
            <p>Service Charge</p>
            <input
            type="number"
            formControlName="serviceCharge"
            placeholder="Service Charge"
          />
          </div>
          <div class="chargeInput"
          *ngIf="
                this.dataProvider.customCharges[
                  this.dataProvider.currentBill?.mode
                ].includes('delivery')
              "
          >
            <p>Delivery Charge</p>
            <input
              type="number"
              formControlName="deliveryCharge"
              placeholder="Delivery Charge"
            />
          </div>
          <div class="chargeInput"
          *ngIf="
          this.dataProvider.customCharges[
            this.dataProvider.currentBill?.mode
          ].includes('container')
        ">
            <p>Container Charge</p>
            <input
              type="number"
              formControlName="containerCharge"
              placeholder="Container Charge"
            />
          </div>
          <div class="chargeInput"
          *ngIf="
              this.dataProvider.customCharges[
                this.dataProvider.currentBill?.mode
              ].includes('tip')
            ">
            <p>Tip</p>
            <input
            type="number"
            formControlName="tip"
            placeholder="Tip"
          />
          </div>
        </div>
      </form>
      <button
        *ngIf="this.isDialog"
        type="submit"
        mat-flat-button
        color="primary"
      >
        Submit
      </button>
    </ng-container>
  </form>
</section>
<section
  class="orders"
  *ngIf="dataProvider.smartMode"
  [ngClass]="{ pad: padding }"
>
  <p>
    <b>Order Frequency : </b>
    <span>
      {{ orderFrequency }}% in {{ lastMonth }}
      <ng-container *ngIf="orderFrequency >= 0">
        <i class="ri-arrow-up-line"></i>
      </ng-container>
      <ng-container *ngIf="orderFrequency < 0">
        <i class="ri-arrow-down-line"></i>
      </ng-container>
    </span>
  </p>
  <p>
    <b>Avg Order Price : </b>
    <strong>{{ averageOrderPrice | currency: "INR" }}</strong>
  </p>
  <p><b>Last Order : </b> {{ wordsToSentence(lastOrderDish) }}</p>
</section>
