.customerInfo {
  // border-top: 2px solid #ccc;
  padding: 20px 20px 0px 20px;
  background: white;
  h4 {
    margin: 0px 0px 10px 0px;
  }
  form {
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    // mat-form-field{
    //     width: 100%;
    // }
    input,
    textarea {
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0 10px;
      margin-bottom: 10px;
    }
    textarea {
      padding: 10px 0px 0px 10px;
      width: calc(100% - 10px);
      height: calc(40px - 10px);
    }
  }
  form.loyaltyForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
      font-size: var(--Viraj-font-medium);
    }
    .redeem {
      display: flex;
      gap: 20px;
      input {
        height: 30px;
        width: 100px;
      }
    }
  }
}
.orders {
  padding: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  align-items: center;
  gap: 10px;
  p {
    color: rgb(56, 56, 56);
    font-size: var(--Viraj-font-large);
    margin: 0px;
    b {
      font-weight: 600;
    }
    span {
      display: inline-flex;
      border: 2px solid var(--Viraj-success);
      padding: 5px;
      border-radius: 4px;
      color: var(--Viraj-success);
    }
    strong {
      color: var(--Viraj-success);
    }
  }
  p:nth-child(3) {
    grid-column: 1/3;
  }
}
.pad {
  padding: 20px;
}
.danger {
  color: tomato;
  margin-bottom: 10px;
}
