<section class="noPadding">
    <input type="search" placeholder="Search In Category" (input)="customSearchSubject.next(customSearch.value)" #customSearch>
</section>
<section class="productArea" [ngClass]="{'align':(products.length > 5 || (searchVisible && searchResults.length > 5) || (customSearchVisible && customResults.length > 5))}">
    <ng-container *ngFor="let item of searchVisible ? this.searchResults : (customSearchVisible ? customResults : products)">
        <app-product-card [taxes]="item.taxes" (click)="item.taxes ? selectProduct(item) : {}" [tags]="item.tags" [category]="item.category.name" [productName]="item.name" [veg]="item.type == 'veg'" [price]="item.price" *ngIf="item.visible"></app-product-card>
    </ng-container>
</section>