<section>
    <h2>Cancel Bill</h2>
    <form [formGroup]="cancelForm">
        <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput type="text" formControlName="reason">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reason</mat-label>
            <input matInput type="text" formControlName="reason">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="reason">
        </mat-form-field>
        <div class="actions">
            <button mat-stroked-button (click)="close()" color="primary">Back</button>
            <button mat-flat-button [disabled]="!cancelForm.valid" (click)="cancelBill()" color="primary">Cancel Bill</button>
        </div>
    </form>
</section>