<section>
  <div class="heading">
    <span>
      <button (click)="this.dialogRef.close()">
        <i class="ri-arrow-left-line"></i>
        <p>Back</p>
      </button>
      <h3>Menu Management</h3>
    </span>
    <div class="tabsToggle large">
      <button
        *ngIf="this.dataProvider.getAccess('editDineInMenu')"
        [ngClass]="{ active: currentMode == 'Dine In' }"
        (click)="currentMode = 'Dine In'; switchMode({ value: 'Dine In' })"
      >
        Dine In
      </button>
      <button
        *ngIf="this.dataProvider.getAccess('editTakeawayMenu')"
        [ngClass]="{ active: currentMode == 'Takeaway' }"
        (click)="currentMode = 'Takeaway'; switchMode({ value: 'Takeaway' })"
      >
        Takeaway
      </button>
      <button
        *ngIf="this.dataProvider.getAccess('editOnlineMenu')"
        [ngClass]="{ active: currentMode == 'Online' }"
        (click)="currentMode = 'Online'; switchMode({ value: 'Online' })"
      >
        Online
      </button>
    </div>
    <div class="selectMenu">
      <span>Selected Menu: </span>
      <select
        *ngIf="this.dataProvider.getAccess('switchMenu')"
        [(ngModel)]="this.dataProvider.currentMenu.selectedMenuId"
        (change)="this.dataProvider.currentMenu.updateMenu()"
        placeholder="Menu"
      >
        <option
          *ngFor="let menu of this.dataProvider.allMenus"
          [value]="menu.id"
        >
          {{ menu.name }}
        </option>
      </select>
    </div>
    <viraj-button
      type="outline"
      (click)="this.dataProvider.currentMenu.setPrinterSettings()"
      *ngIf="this.dataProvider.getAccess('setPrinterSettings')"
      [ngClass]="{ active: activeTab == 'Loyalty' }"
    >
      Printer Setting
    </viraj-button>
    <viraj-button (click)="addNewMenu()" [large]="true" [animated]="true">New Menu</viraj-button>
  </div>
  <!-- <div class="sidebar">
    <div class="menus">
      <div class="menu" *ngFor="let menu of menus">
        <div class="head" (click)="menu.toggled = !menu.toggled">
          <p>{{menu.name}}</p>
          <i *ngIf="menu.toggled" class="ri-arrow-down-s-line"></i>
          <i *ngIf="!menu.toggled" class="ri-arrow-up-s-line"></i>
        </div>
        <div class="subItems" *ngIf="menu.toggled">
          <div class="section" (click)="activeTab = 'products'" [ngClass]="{active:activeTab=='products'}">
            <span>Products </span>
            <i class="ri-arrow-right-s-line"></i>
          </div>
          <div class="section" (click)="activeTab = 'taxes'" [ngClass]="{active:activeTab=='taxes'}">
            <span>Taxes </span>
            <i class="ri-arrow-right-s-line"></i>
          </div>
          <div class="section" (click)="activeTab = 'discount'" [ngClass]="{active:activeTab=='discount'}">
            <span>Discounts </span>
            <i class="ri-arrow-right-s-line"></i>
          </div>
          <div class="section" (click)="activeTab = 'combos'" [ngClass]="{active:activeTab=='combos'}">
            <span>Combos </span>
            <i class="ri-arrow-right-s-line"></i>
          </div>
          <div class="section" (click)="activeTab = 'types'" [ngClass]="{active:activeTab=='types'}">
            <span>Combos Types </span>
            <i class="ri-arrow-right-s-line"></i>
          </div>
          <div class="section" (click)="activeTab = 'loyalty'" [ngClass]="{active:activeTab=='loyalty'}">
            <span>Loyalty</span>
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="tabs">
    <div class="tabList">
      <ng-container *ngFor="let mode of this.dataProvider.menus">
        <button
          [ngClass]="{ active: currentMode == mode.name }"
          *ngIf="
            (mode.name == 'Takeaway' &&
              this.dataProvider.getAccess('editTakeawayMenu')) ||
            (mode.name == 'Online' &&
              this.dataProvider.getAccess('editOnlineMenu')) ||
            (mode.name == 'Dine In' &&
              this.dataProvider.getAccess('editDineInMenu'))
          "
          (click)="currentMode = mode.name;switchMode({value:mode.name == 'Takeaway' ? 'takeaway' : mode.name == 'Online' ? 'online' : 'dineIn'})"
        >
          {{ mode.name }}
        </button>
      </ng-container>
    </div>
    <button (click)="this.dialogRef.close()">
      <i class="ri-close-fill"></i>
    </button>
  </div> -->

  <ng-container *ngFor="let mode of this.dataProvider.menus">
    <div class="mode" *ngIf="mode.active && mode.name == currentMode">
      <div class="tabs">
        <div class="tabList">
          <button
            (click)="activeTab = 'Products'"
            [ngClass]="{ active: activeTab == 'Products' }"
          >
            Products
          </button>
          <button
            (click)="activeTab = 'Taxes'"
            *ngIf="this.dataProvider.getAccess('seeTaxes')"
            [ngClass]="{ active: activeTab == 'Taxes' }"
          >
            Taxes
          </button>
          <button
            (click)="activeTab = 'Discounts'"
            *ngIf="this.dataProvider.getAccess('seeDiscount')"
            [ngClass]="{ active: activeTab == 'Discounts' }"
          >
            Discounts
          </button>
          <button
            (click)="activeTab = 'Combos'"
            *ngIf="this.dataProvider.getAccess('seeCombos')"
            [ngClass]="{ active: activeTab == 'Combos' }"
          >
            Combos
          </button>
          <button
            (click)="activeTab = 'Loyalty'"
            *ngIf="this.dataProvider.getAccess('seeLoyalty')"
            [ngClass]="{ active: activeTab == 'Loyalty' }"
          >
            Loyalty
          </button>
          <!-- <button
            (click)="mode.setPrinterSettings()"
            *ngIf="this.dataProvider.getAccess('setPrinterSettings')"
            [ngClass]="{ active: activeTab == 'Loyalty' }"
          >
            Printer Setting
          </button> -->
        </div>
      </div>
      <div class="productsView" *ngIf="activeTab == 'Products'">
        <ng-container *ngIf="activeTab == 'Products'">
          <div class="sidebar">
            <div class="categories">
              <span *ngIf="this.dataProvider.getAccess('seeAllProducts')"
                >Product List</span
              >
              <app-category-card
                [full]="true"
                *ngIf="this.dataProvider.getAccess('seeAllProducts')"
                (click)="
                  mode.selectCategory(mode.allProductsCategory);
                  mode.currentType = 'all'
                "
                [category]="mode.allProductsCategory"
              ></app-category-card>
              <span *ngIf="this.dataProvider.getAccess('recommendedCategories')"
                >Recommended</span
              >
              <div
                cdkDropList
                *ngIf="this.dataProvider.getAccess('recommendedCategories')"
                class="example-list"
                (cdkDropListDropped)="mode.reorderRecommendedCategory($event)"
              >
                <app-category-card
                  cdkDrag
                  [full]="true"
                  [hiddenIconVisible]="true"
                  [hidden]="category.enabled"
                  *ngFor="let category of mode.recommendedCategories"
                  (click)="
                    mode.selectCategory(category);
                    mode.currentType = 'recommended'
                  "
                  [category]="category"
                ></app-category-card>
              </div>
              <span *ngIf="this.dataProvider.getAccess('viewCategories')"
                >View Categories<viraj-button
                  *ngIf="this.dataProvider.getAccess('addViewCategory')"
                  type="icon"
                  (vclick)="mode.addViewCategory()"
                  ><i class="ri-add-box-fill"></i></viraj-button
              ></span>
              <div
                *ngIf="this.dataProvider.getAccess('viewCategories')"
                cdkDropList
                class="example-list"
                (cdkDropListDropped)="mode.reorderViewCategory($event)"
              >
                <app-category-card
                  [full]="true"
                  [hiddenIconVisible]="true"
                  [hidden]="category.enabled"
                  cdkDrag
                  *ngFor="let category of mode.viewCategories"
                  (click)="
                    mode.selectCategory(category); mode.currentType = 'view'
                  "
                  [category]="category"
                ></app-category-card>
              </div>
              <span *ngIf="this.dataProvider.getAccess('mainCategories')"
                >Main Categories</span
              >
              <div
                cdkDropList
                *ngIf="this.dataProvider.getAccess('mainCategories')"
                class="example-list"
                (cdkDropListDropped)="mode.reorderMainCategory($event)"
              >
                <app-category-card
                  [full]="true"
                  [hiddenIconVisible]="true"
                  [hidden]="category.enabled"
                  cdkDrag
                  *ngFor="let category of mode.mainCategories"
                  (click)="
                    mode.selectCategory(category); mode.currentType = 'root'
                  "
                  [category]="category"
                ></app-category-card>
              </div>
            </div>
          </div>
          <div class="main" *ngIf="mode.selectedCategory">
            <div class="title">
              <div class="actions">
                <h2>{{ mode.selectedCategory.name }}</h2>
              </div>
            </div>
            <div class="filters">
              <input
                type="text"
                placeholder="Search Item"
                matInput
                class="customSearchBox"
                (input)="mode.searchSubject.next(text.value)"
                #text
              />
              <ng-container class="actions">
                <ng-container
                  *ngIf="
                    (mode.currentType == 'all' &&
                      this.dataProvider.getAccess('enableDisableProducts')) ||
                    (mode.currentType == 'recommended' &&
                      this.dataProvider.getAccess(
                        'enableDisableRecommendedProducts'
                      )) ||
                    (mode.currentType == 'view' &&
                      this.dataProvider.getAccess(
                        'enableDisableViewProducts'
                      )) ||
                    (mode.currentType == 'root' &&
                      this.dataProvider.getAccess('enableDisableMainProducts'))
                  "
                >
                  <viraj-button
                    type="outline"
                    color="primary"
                    (click)="mode.disableAll()"
                  >
                    Disable All
                  </viraj-button>
                  <viraj-button
                    type="outline"
                    color="primary"
                    (click)="mode.enableAll()"
                  >
                    Enable All
                  </viraj-button>
                </ng-container>
                <viraj-button
                  *ngIf="
                    ['all'].includes(mode.currentType) &&
                    this.dataProvider.getAccess('addNewProduct')
                  "
                  (click)="mode.addRecipe(mode.selectedMenuId)"
                  color="primary"
                >
                  Add Recipe
                </viraj-button>
                <viraj-button
                  *ngIf="['view'].includes('editViewCategory')"
                  (click)="mode.addUploadedRecipe()"
                  color="primary"
                >
                  Edit
                </viraj-button>
                <viraj-button
                  *ngIf="['view'].includes('deleteViewCategory')"
                  (click)="mode.deleteViewCategory()"
                  color="primary"
                >
                  Delete
                </viraj-button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="mode.addRecipe(mode.selectedMenuId)"
                  >
                    New Dish
                  </button>
                  <button mat-menu-item (click)="mode.selectRecipe()">
                    Old Dish
                  </button>
                  <button mat-menu-item>Upload From Excel</button>
                  <button mat-menu-item (click)="mode.getExcelFormat()">
                    Get Excel Format
                  </button>
                </mat-menu>
                <span
                  *ngIf="mode.currentType != 'all'"
                  class="visibilityToggle"
                >
                  <p>Visibility :</p>
                  <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="mode.selectedCategory.enabled"
                    (change)="mode.selectedCategory.updated = true"
                  ></mat-slide-toggle>
                </span>
              </ng-container>
            </div>
            <div
              class="printerSettings"
              *ngIf="
                mode.currentType == 'root' &&
                this.dataProvider.getAccess(['admin', 'manager'])
              "
            ></div>
            <div
              class="filters recommended"
              *ngIf="
                this.dataProvider.getAccess('editRecommendedCategorySettings')
              "
            >
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'highRange'
                "
              >
                <h4>Recommendation Setting</h4>
                <form
                  [formGroup]="mode.highRangeForm"
                  (ngSubmit)="mode.recommendationSave('highRange')"
                >
                  <input
                    class="settingInput"
                    type="number"
                    placeholder="Minimum"
                    formControlName="min"
                    matInput
                  />
                  <input
                    class="settingInput"
                    type="number"
                    placeholder="Maximum"
                    formControlName="max"
                    matInput
                  />
                  <viraj-button
                    color="primary"
                    *ngIf="mode.highRangeForm.touched"
                  >
                    Save
                  </viraj-button>
                </form>
              </ng-container>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'lowRange'
                "
              >
                <h4>Recommendation Setting</h4>
                <form
                  [formGroup]="mode.lowRangeForm"
                  (ngSubmit)="mode.recommendationSave('lowRange')"
                >
                  <input
                    class="settingInput"
                    type="number"
                    placeholder="Minimum"
                    matInput
                    formControlName="min"
                  />
                  <input
                    class="settingInput"
                    type="number"
                    placeholder="Maximum"
                    matInput
                    formControlName="max"
                  />
                  <viraj-button
                    color="primary"
                    mat-flat-button
                    *ngIf="mode.lowRangeForm.touched"
                  >
                    Save
                  </viraj-button>
                </form>
              </ng-container>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'mostSelling'
                "
              >
                <h4>Recommendation Setting</h4>
                <form
                  [formGroup]="mode.mostSellingForm"
                  (ngSubmit)="mode.recommendationSave('mostSelling')"
                >
                  <input
                    class="settingInput"
                    type="number"
                    placeholder="Minimum Sales"
                    matInput
                    formControlName="min"
                  />
                  <input
                    class="settingInput"
                    type="number"
                    placeholder="Maximum Sales"
                    matInput
                    formControlName="max"
                  />
                  <viraj-button
                    color="primary"
                    *ngIf="mode.mostSellingForm.touched"
                  >
                    Save
                  </viraj-button>
                </form>
              </ng-container>
              <ng-container
                *ngIf="
                  ['recommended'].includes(mode.currentType) &&
                  mode.selectedCategory.id == 'newDishes'
                "
              >
                <h4>Recommendation Setting</h4>
                <form
                  [formGroup]="mode.newDishesForm"
                  (ngSubmit)="mode.recommendationSave('newDishes')"
                >
                  <div class="customDatePicker">
                    <input
                      matInput
                      tabindex="-1"
                      [matDatepicker]="minPicker"
                      required
                      type="date"
                      formControlName="min"
                      #minPickerInput
                    />
                    <mat-datepicker #minPicker></mat-datepicker>
                    <viraj-button
                      type="outline"
                      class="dateSelector"
                      (vclick)="minPicker.open()"
                      >
                      {{mode.newDishesForm.value.min ? (mode.newDishesForm.value.min | date) : 'Select Date'}}
                      <i
                        class="ri-calendar-2-fill"
                      ></i
                    ></viraj-button>
                  </div>
                  <div class="customDatePicker">
                    <input
                      tabindex="-1"
                      type="date"
                      [matDatepicker]="picker"
                      formControlName="max"
                      #pickerInput
                    />
                    <mat-datepicker #picker></mat-datepicker>
                    <p>{{ pickerInput.value }}</p>
                    <viraj-button
                      type="outline"
                      class="dateSelector"
                      (vclick)="picker.open()">
                      {{mode.newDishesForm.value.max ? (mode.newDishesForm.value.max | date) : 'Select Date'}}
                      <i
                        class="ri-calendar-2-fill"
                      ></i
                    ></viraj-button>
                  </div>
                  <viraj-button
                    color="primary"
                    *ngIf="mode.newDishesForm.touched"
                  >
                    Save
                  </viraj-button>
                </form>
              </ng-container>
            </div>
            <div class="productList">
              <mat-spinner
                mode="indeterminate"
                *ngIf="mode.selectedCategory.loading"
              ></mat-spinner>
              <div
                class="productList"
                cdkDropList
                (cdkDropListDropped)="mode.reorderProduct($event)"
              >
              <mat-paginator
                  *ngIf="
                    mode.filteredProducts.length == 0 &&
                    mode.currentType == 'all'
                  "
                  [length]="mode.products.length"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="mode.pageChanged($event)"
                  aria-label="Select page"
                >
              </mat-paginator>
              <div
                  cdkDrag
                  class="product"
                  *ngFor="
                    let product of mode.filteredProducts.length > 0
                      ? mode.filteredProducts
                      : (mode.selectedCategory.id == 'allProducts' ? mode.products : mode.selectedCategory.products)
                  "
                >
                  <p>{{ product.name }}</p>
                  <div class="pricing">
                    <strong>{{ product.price | currency: "INR" }}</strong>
                    <span
                      *ngIf="!(product.taxes && product.taxes.length > 0)"
                      class="danger"
                      >No Taxes</span
                    >
                    <viraj-button
                      *ngIf="
                        (mode.currentType == 'all' &&
                          this.dataProvider.getAccess('setTaxesOnProducts')) ||
                        (mode.currentType == 'recommended' &&
                          this.dataProvider.getAccess(
                            'setTaxesOnRecommendedProducts'
                          )) ||
                        (mode.currentType == 'view' &&
                          this.dataProvider.getAccess(
                            'setTaxesOnViewProducts'
                          )) ||
                        (mode.currentType == 'root' &&
                          this.dataProvider.getAccess('setTaxesOnMainProducts'))
                      "
                      (click)="mode.setTaxes(product)"
                      >Set Taxes</viraj-button
                    >
                    <mat-slide-toggle
                      checked
                      *ngIf="
                        (mode.currentType == 'all' &&
                          this.dataProvider.getAccess(
                            'enableDisableProducts'
                          )) ||
                        (mode.currentType == 'recommended' &&
                          this.dataProvider.getAccess(
                            'enableDisableRecommendedProducts'
                          )) ||
                        (mode.currentType == 'view' &&
                          this.dataProvider.getAccess(
                            'enableDisableViewProducts'
                          )) ||
                        (mode.currentType == 'root' &&
                          this.dataProvider.getAccess(
                            'enableDisableMainProducts'
                          ))
                      "
                      [(ngModel)]="product.visible"
                      (toggleChange)="
                        mode.productVisibilityChanged = true;
                        product.updated = true;
                        mode.selectedCategory.updated = true
                      "
                    ></mat-slide-toggle>
                    <viraj-button
                      *ngIf="
                        (mode.currentType == 'all' &&
                          this.dataProvider.getAccess('editProduct')) ||
                        (mode.currentType == 'recommended' &&
                          this.dataProvider.getAccess(
                            'editRecommendedProduct'
                          )) ||
                        (mode.currentType == 'view' &&
                          this.dataProvider.getAccess('editViewProduct')) ||
                        (mode.currentType == 'root' &&
                          this.dataProvider.getAccess('editMainProduct'))
                      "
                      (click)="mode.editRecipe(product, mode.selectedMenuId)"
                    >
                      <i class="ri-pencil-fill"></i>
                    </viraj-button>
                    <viraj-button
                      *ngIf="
                        (mode.currentType == 'all' &&
                          this.dataProvider.getAccess('deleteProduct')) ||
                        (mode.currentType == 'recommended' &&
                          this.dataProvider.getAccess(
                            'deleteRecommendedProduct'
                          )) ||
                        (mode.currentType == 'view' &&
                          this.dataProvider.getAccess('deleteViewProduct')) ||
                        (mode.currentType == 'root' &&
                          this.dataProvider.getAccess('deleteMainProduct'))
                      "
                      (click)="mode.deleteRecipe(product, mode.selectedMenuId)"
                    >
                      <i class="ri-delete-bin-6-fill"></i>
                    </viraj-button>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="tableView" *ngIf="activeTab == 'Taxes' || activeTab == 'Discounts' || activeTab == 'Combos' || activeTab == 'Loyalty'">
        <ng-container *ngIf="activeTab == 'Taxes'">
          <div class="rowHeading">
            <h3>Taxes</h3>
            <span>
              <input
                matInput
                (input)="mode.taxesSearchSubject.next(search.value)"
                #search
              />
              <viraj-button
                (vclick)="mode.addTax()"
                *ngIf="this.dataProvider.getAccess('addNewTaxes')"
                >Add Tax</viraj-button
              >
            </span>
          </div>
          <p>Total {{ mode.taxes.length }} taxes</p>
          <div class="tableContainer">
            <table>
              <thead>
                <tr>
                  <th>Tax Name</th>
                  <th>Tax Cost</th>
                  <th>Type</th>
                  <th>Mode</th>
                  <th>Add Date</th>
                  <th>Update Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let tax of mode.filteredTaxes.length
                      ? mode.filteredTaxes
                      : mode.taxes
                  "
                >
                  <td>{{ tax.name }}</td>
                  <td>{{ tax.cost }}</td>
                  <td>
                    <div class="badge inactive">
                      {{ tax.type | titlecase }}
                    </div>
                  </td>
                  <td>
                    <div class="badge active">
                      {{ tax.mode | titlecase }}
                    </div>
                  </td>
                  <td>{{ tax.creationDate.toDate() | date }}</td>
                  <td>{{ tax.updateDate.toDate() | date }}</td>
                  <td>
                    <viraj-button
                      *ngIf="this.dataProvider.getAccess('editTaxes')"
                      (vclick)="mode.editTax(tax)"
                      type="icon"
                      ><i class="ri-pencil-line"></i
                    ></viraj-button>
                    <viraj-button
                      ngIf="this.dataProvider.getAccess('deleteTaxes')"
                      (vclick)="mode.deleteTax(tax.id)"
                      type="icon"
                      ><i class="ri-delete-bin-line"></i
                    ></viraj-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 'Discounts'">
          <div class="rowHeading">
            <h3>Discounts</h3>
            <span>
              <input
                matInput placeholder="Search"
                (input)="mode.discountsSearchSubject.next(search.value)"
                #search
              />
              <viraj-button
                (vclick)="mode.addDiscount()"
                *ngIf="this.dataProvider.getAccess('addNewDiscounts')"
                >Add Discount</viraj-button
              >
            </span>
          </div>
          <div class="tableContainer">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                  <th>Type</th>
                  <th>Min Amount</th>
                  <th>Max Products</th>
                  <th>Max Discount</th>
                  <th>Created On</th>
                  <th>Menus</th>
                  <th>Access</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let discount of mode.filteredDiscounts.length
                      ? mode.filteredDiscounts
                      : mode.discounts
                  "
                >
                  <td>{{ discount.name }}</td>
                  <td>
                    <div class="badge inactive">
                      {{ discount.value }}
                    </div>
                  </td>
                  <td>
                    <div class="badge active">
                      {{ discount.type | titlecase}}
                    </div>
                  </td>
                  <td>{{ discount.minimumAmount }}</td>
                  <td>{{ discount.minimumProducts }}</td>
                  <td>{{ discount.maximumDiscount }}</td>
                  <td>
                    {{
                      discount.creationDate
                        ? (discount.creationDate.toDate() | date)
                        : "N/A"
                    }}
                  </td>
                  <td>
                    <li *ngFor="let item of mode.getMappedMenu(discount.menus)">
                      {{ item.name }}
                    </li>
                  </td>
                  <td>
                    <li *ngFor="let item of discount.accessLevels">
                      {{ item }}
                    </li>
                  </td>
                  <td>
                    <viraj-button
                      *ngIf="this.dataProvider.getAccess('editDiscount')"
                      (vclick)="mode.editDiscount(discount)"
                      type="icon"
                      ><i class="ri-pencil-fill"></i
                    ></viraj-button>
                    <viraj-button
                      *ngIf="this.dataProvider.getAccess('deleteDiscounts')"
                      (vclick)="mode.deleteDiscount(discount.id)"
                      type="icon"
                      ><i class="ri-delete-bin-2-fill"></i
                    ></viraj-button>
                  </td>
                </tr>
                <tr *ngIf="mode.loadingDiscount">
                  <td colspan="8">
                    <mat-spinner mode="indeterminate"> </mat-spinner>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 'Combos'">
          <h3>All Combos</h3>
          <div class="comboCards">
            <div
              class="card new"
              *ngIf="this.dataProvider.getAccess('addNewCombos')"
              (click)="mode.addCombo()"
            >
              <p><i class="ri-add-fill"></i>Add New Combo</p>
            </div>
            <div class="card combo" *ngFor="let combo of mode.combos" (click)="mode.editCombo(combo)">
              <img [src]="combo.offerImage || 'assets/images/defaultCombo.jpg'" />
              <mat-slide-toggle *ngIf="!combo.visibilityEnabled" [(ngModel)]="combo.enabled" (change)="mode.updateComboVisibility(combo,toggleElm.checked)" #toggleElm>{{ combo.name }}</mat-slide-toggle>
              <p *ngIf="combo.visibilityEnabled">{{ combo.name }}</p>
            </div>
            <div
              class="card new"
              *ngIf="
                mode.combos.length > 10 &&
                this.dataProvider.getAccess('addNewCombos')
              "
            >
              <p><i class="ri-add-fill"></i>Add New Combo</p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 'Loyalty'">
          <mat-radio-group
            aria-label="Select an option"
            (change)="mode.selectLoyaltySetting($event)"
            [value]="mode.selectedLoyaltyId"
            #loyaltySelector
          >
            <div class="rowHeading">
              <h3>Loyalty</h3>
              <span>
                <input
                  matInput
                  (input)="mode.loyaltySearchSubject.next(search.value)"
                  #search
                />
                <p>
                  <mat-radio-button value="none"
                    >Disable Loyalty</mat-radio-button
                  >
                </p>
                <viraj-button
                  (vclick)="mode.addLoyaltySettings()"
                  *ngIf="this.dataProvider.getAccess('addNewLoyaltySettings')"
                  >Add Loyalty Setting</viraj-button
                >
              </span>
            </div>
            <p>Total {{ mode.loyaltySettings.length }} Configurations</p>
            <div class="tableContainer">
              <table>
                <thead>
                  <tr>
                    <th>Loyalty Setting Name</th>
                    <th>Base rate</th>
                    <th>Expiry Days</th>
                    <th>Added Date</th>
                    <th>Added By</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let loyaltySetting of mode.filteredLoyaltySettings.length
                        ? mode.filteredLoyaltySettings
                        : mode.loyaltySettings
                    "
                  >
                    <td>
                      <mat-radio-button [value]="loyaltySetting.id">{{
                        loyaltySetting.name
                      }}</mat-radio-button>
                    </td>
                    <td>{{ loyaltySetting.baseRate }}</td>
                    <td>{{ loyaltySetting.expiryDays }}</td>
                    <td>{{ loyaltySetting.creationDate.toDate() | date }}</td>
                    <td>{{ loyaltySetting.addedBy }}</td>
                    <td>
                      <viraj-button
                        *ngIf="
                          this.dataProvider.getAccess('editLoyaltySetting')
                        "
                        (vclick)="mode.editLoyaltySetting(loyaltySetting)"
                        type="icon"
                        ><i class="ri-pencil-line"></i
                      ></viraj-button>
                      <viraj-button
                        *ngIf="
                          this.dataProvider.getAccess('deleteLoyaltySetting')
                        "
                        (vclick)="mode.deleteLoyaltySetting(loyaltySetting)"
                        type="icon"
                        ><i class="ri-delete-bin-line"></i
                      ></viraj-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-radio-group>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <!-- <div class="actions">
    <button color="primary" mat-flat-button (click)="this.dialogRef.close()">
      Save
    </button>
  </div> -->
</section>
