<div class="title" #title>
  <h2 #heading>
    {{
      dataProvider.manageKot
        ? "Manage KOTs"
        : dataProvider.kotViewVisible
        ? "All KOTs"
        : "KOT"
    }}
  </h2>
  <div
    class="labels">
    <div class="label" *ngFor="let item of labels">
      <span [ngStyle]="{ background: item.color.color }"></span>
      <p [ngStyle]="{ color: '#000' }">
        {{ item.name }}
      </p>
    </div>
  </div>
</div>
<section #kotListElement>
  <div
    class="normalKotView"
    *ngIf="!dataProvider.kotViewVisible && !dataProvider.allProducts"
    [@zoomInOnEnter]
    [@zoomOutOnLeave]
  >
    <ng-container *ngIf="allKot.length > 0 && dataProvider.manageKot">
      <ng-container *ngFor="let kot of allKot; let i = index">
        <div
          class="kotEditOptions"
          [ngStyle]="{ borderLeftColor: kotNoColors[i].color }"
        >
          <span
            >KOT: {{ kot.id }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong
              ><i class="ri-time-line"></i>&nbsp;&nbsp;{{
                kot.totalTimeTaken
              }}</strong
            ></span
          >
          <span *ngIf="!kot.editMode">
            <viraj-button type="icon" (vclick)="printKot(kot)"
              ><i class="ri-printer-fill"></i
            ></viraj-button>
            <viraj-button type="icon" (vclick)="deleteKot(kot)"
              ><i class="ri-delete-bin-fill"></i
            ></viraj-button>
            <viraj-button
              *ngIf="kot.totalTimeTakenNumber <= 60"
              type="icon"
              (click)="editKot(kot)"
              ><i class="ri-pencil-fill"></i
            ></viraj-button>
          </span>
          <span *ngIf="kot.editMode">
            <viraj-button (vclick)="saveEditedKot(kot)"
              ><i class="ri-save-fill"></i>Save</viraj-button
            >
          </span>
        </div>
        <app-kot-item
          [@zoomInOnEnter]
          [@zoomOutOnLeave]
          [kotId]="kot.id"
          [kotNo]="i"
          [product]="item"
          [manageKot]="true"
          (lineDiscounted)="this.dataProvider.currentBill?.calculateBill()"
          (lineCancelled)="this.dataProvider.currentBill?.lineCancelled(item,$event,kots[0])"
          [editMode]="kot.editMode"
          [quantity]="item.quantity"
          [productName]="item.name"
          (lineDiscounted)="this.dataProvider.currentBill?.calculateBill()"
          [nonVeg]="item.type == 'non-veg'"
          [price]="item.price"
          *ngFor="let item of kot.products"
        ></app-kot-item>
      </ng-container>
    </ng-container>
    <ng-container
      *ngIf="
        kots.length > 0 &&
        !dataProvider.manageKot &&
        this.dataProvider.currentBill?.editKotMode == null
      "
    >
      <app-kot-item
        [@zoomInOnEnter]
        [@zoomOutOnLeave]
        [kotId]="kots[0].id"
        (delete)="delete(item)"
        [product]="item"
        [kotNo]="activeKotIndex"
        [info]="item.instruction || null"
        [quantity]="item.quantity"
        [productName]="item.name"
        [nonVeg]="item.type == 'non-veg'"
        [price]="item.price"
        *ngFor="let item of kots[0].products; let i = index"
      ></app-kot-item>
    </ng-container>
    <ng-container
      *ngIf="
        !dataProvider.manageKot &&
        this.dataProvider.currentBill?.editKotMode != null
      "
    >
      <app-kot-item
        [@zoomInOnEnter]
        [@zoomOutOnLeave]
        [kotId]="this.dataProvider.currentBill?.editKotMode?.kot?.id || ''"
        [product]="item"
        (delete)="delete(item)"
        [kotNo]="this.dataProvider.currentBill?.editKotMode?.kotIndex || 0"
        [quantity]="item.quantity"
        [productName]="item.name"
        [nonVeg]="item.type == 'non-veg'"
        [price]="item.price"
        *ngFor="
          let item of this.dataProvider.currentBill?.editKotMode?.newKot;
          let i = index
        "
      ></app-kot-item>
    </ng-container>
    <img
      class="noItem"
      src="assets/noItems.svg"
      alt="No Items"
      *ngIf="showImage"
    />
  </div>
  <div
    class="quickKotView"
    [@zoomInOnEnter]
    [@zoomOutOnLeave]
    *ngIf="dataProvider.kotViewVisible && !dataProvider.allProducts && this.dataProvider.currentBill?.kots"
  >
    <div
      class="kotCard"
      *ngFor="let kot of this.dataProvider.currentBill?.kots; let i = index"
    >
      <div
        class="heading"
        [ngStyle]="{
          background: this.kotNoColors[i % this.kotNoColors.length].color,
          color: this.kotNoColors[i % this.kotNoColors.length].contrast
        }"
      >
        <p>Kot No: {{ kot.id }}</p>
        <span>
          <i class="ri-time-line"></i>&nbsp;&nbsp;{{ kot.totalTimeTaken }}
        </span>
      </div>
      <div class="items">
        <div class="item" *ngFor="let product of kot.products">
          <p>{{ product.name }}</p>
          <p>{{ product.quantity }}</p>
          <p>{{ product.quantity * product.price | currency : "INR" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div [@zoomInOnEnter]
  [@zoomOutOnLeave] class="allProducts" *ngIf="dataProvider.allProducts">
    <div
      class="item"
      *ngFor="let item of this.dataProvider.currentBill?.kots | mergedProducts"
    >
      <p>
        {{ item.name | titlecase}}
      </p>
      <p>
        {{ item.quantity }}
      </p>
      <p>
        {{ item.quantity * item.price | currency : "INR" }}
      </p>
    </div>
  </div>
</section>
<!-- <aside class="expandable" [ngClass]="{closed:!actionSheetExpanded,'opened':actionSheetExpanded}">
    <div class="actionButton">
        <button (click)="actionSheetExpanded=!actionSheetExpanded">
            <i class="ri-expand-up-down-fill"></i>
        </button>
    </div>
    <div class="actionBody" *ngIf="actionSheetExpanded">

    </div>
</aside> -->
