section{
    overflow-y: auto;
    background: white;
    border-radius: var(--Viraj-border-radius) 0px 0px var(--Viraj-border-radius);
    .kotEditOptions{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 50px);
        align-items: center;
        border-left: 10px solid ;
        padding-inline: 20px;
        span{
            display: flex;
            align-items: center;
            font-size: var(--Viraj-font-xlarge);
            strong{
                display: flex;
                align-items: center;
                color: var(--Viraj-primary);
            }
        }
    }
    div.quickKotView{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:10px;
        padding: 15px;
        .kotCard{
            display: flex;
            flex-direction: column;
            background: whitesmoke;
            border-radius: 7px;
            box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
            .heading{
                display: flex;
                padding: 10px;
                background: white;
                box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
                justify-content: space-between;
                align-items: center;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                p{
                    margin: 0px;
                }
                span{
                    display: flex;
                    align-items: center;
                    font-size: var(--Viraj-font-medium);
                    i{
                        font-size: var(--Viraj-icon-small);
                    }
                }
            }
            .items{
                display: flex;
                flex-direction: column;
                .item{
                    padding: 5px;
                    display: grid;
                    grid-template-columns: 4fr 1fr 1.5fr;
                    gap: 10px;
                    background: white;
                    border-bottom: 1px solid #aaa;
                    p{
                        margin: 0px;
                    }
                    p:nth-child(1){
                        color:var(--Viraj-primary);
                    }
                    p:nth-child(2){
                        color:var(--Viraj-success);
                    }
                    p:nth-child(3){
                        color:var(--Viraj-success);
                    }
                }
                .item:last-child{
                    border-bottom: none;
                }
            }
        }
    }
    div.allProducts{
        .item{
            display: flex;
            padding: 10px;
            border-bottom: 2px solid #eee;
            gap:10px;
            justify-content: space-between;
            p{
                margin: 0px;
            }
            p:nth-child(1){
                color:var(--Viraj-primary);
            }
            p:nth-child(2){
                color:var(--Viraj-success);
            }
            p:nth-child(3){
                color:var(--Viraj-success);
            }
        }
    }
}
.title{
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    z-index: 99;
    overflow-x: hidden;
    h2{
        padding: 0px 20px;
        width: 100%;
        margin: 10px 0px;
    }
    .labels{
        display: flex;
        gap: 20px;
        padding: 20px;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        .label{
            display: flex;
            gap: 10px;
            align-items: center;
            p{
                margin: 0px;
            }
            span{
                width: 20px;
                height: 20px;
                border-radius: 20px;
                background: #ccc;
                box-shadow: 0px 0px 20px 0px #00000009;
            }
        }
    }
}

.noItem{
    width: 200px;
    height:auto;
    display: block;
    margin:0 auto;
}


.expandable{
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    &.closed{
        height: 20px;
    }
    &.opened{
        height: auto;
        max-height: 90%;
    }
}
@media screen and (max-width: 1366px){
    h2{
        margin: 10px;
    }
    section{
        border-radius: var(--Viraj-border-radius);
    }
    .title{
        .labels{
            padding: 5px;
            width: 100%;
            overflow-x: scroll;
            .label{
                display: flex;
                gap: 10px;
                align-items: center;
                p{
                    margin: 0px;
                }
                span{
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    background: #ccc;
                    box-shadow: 0px 0px 20px 0px #00000009;
                }
            }
        }
    }
}