section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // min-width: 280px;
  h3 {
    margin: 0px;
    margin-bottom: 6px;
  }
  .badges {
    display: flex;
    // padding-inline: 20px;
    gap: 20px;
    justify-content: space-between;
    div.badge {
      align-items: center;
      width: 100%;
      font-size: var(--Viraj-font-medium);
      padding: 10px;
      border: 2px solid #ccc;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-radius: var(--Viraj-border-radius);
      font-size: var(--Viraj-font-large);
      color: #e78c31;
      background: #fff1e2;
      border-color: #e78c31;
      p {
        margin: 0px;
        color: black;
      }
      span {
        color: black;
      }
      strong {
        color: #e78c31;
        font-weight: bold;
        font-size: var(--Viraj-font-xlarge);
      }
    }
    div.sales {
      color: #ff5e35;
      background: #fff8f8;
      border-color: #ff5e35;
      strong {
        color: #ff5e35;
      }
    }
  }
  .iconBadges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .closeIn {
    padding: 7px 20px;
    width: 100%;
    font-size: var(--Viraj-font-xxlarge);
    background: var(--Viraj-primary);
    border-radius: 7px;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(255, 60, 0, 0.2);
    border: none;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
@media screen and (max-width: 1100px) {
  .badges {
    flex-direction: column;
    box-sizing: border-box;
    .badge {
      box-sizing: border-box;
    }
  }
}
@media only screen and (max-height: 895px) {
  section {
    // background: pink;
    .badges {
      display: flex;
      div.badge {
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
    }
  }
}
// if height is less than 717px
@media only screen and (max-height: 717px) {
  section {
    // background: pink;
    .iconBadges {
      display: grid;
      grid-template-areas:
        "a a b b"
        "c d e e";
      viraj-button:nth-child(1) {
        grid-area: a;
      }
      viraj-button:nth-child(2) {
        grid-area: b;
      }
      app-receiving:nth-child(3) {
        grid-area: c;
      }
      app-dispersion:nth-child(4) {
        grid-area: d;
      }
      viraj-button:nth-child(5) {
        grid-area: e;
      }
    }
  }
}
