<section>
  <h3>Stock Count</h3>
  <div class="badges" *ngIf="(dataProvider.clientHeight | async )>= 717">
    <div
      class="badge"
      cdkOverlayOrigin
      id="stockValuationTrigger"
      #stockValuationTrigger="cdkOverlayOrigin"
      (mouseleave)="this.closeStockValuePanelSubscription.next(false)"
      (mouseenter)="isStockValuationOpen = true"
    >
      <p>Stock Valuation</p>
      <strong>
        {{ stockValuation | currency: "INR" : true }}
      </strong>
    </div>
    <div
      class="badge sales"
      cdkOverlayOrigin
      id="cashCounterTrigger"
      #cashCounterTrigger="cdkOverlayOrigin"
      (mouseleave)="this.cashCounterPanelSubscription.next(false)"
      (mouseenter)="isCashSummaryOpen = true"
    >
      <p>Cash Counter</p>
      <strong>
        {{ totalCash | currency: "INR" : true }}
      </strong>
    </div>
    <ng-template
      *ngIf="!this.dataProvider.touchMode"
      cdkConnectedOverlay
      [cdkConnectedOverlayPositions]="[
        { overlayX: 'start', overlayY: 'top', originX: 'end', originY: 'top' }
      ]"
      [cdkConnectedOverlayOffsetY]="-40"
      [cdkConnectedOverlayOrigin]="stockValuationTrigger"
      [cdkConnectedOverlayOpen]="isStockValuationOpen"
    >
      <app-stock-valuation
        (close)="this.isStockValuationOpen = false"
        (mouseleave)="this.closeStockValuePanelSubscription.next(false)"
        (mouseenter)="this.closeStockValuePanelSubscription.next(true)"
      ></app-stock-valuation>
    </ng-template>
    <ng-template
      *ngIf="!this.dataProvider.touchMode"
      cdkConnectedOverlay
      [cdkConnectedOverlayPositions]="[
        {
          overlayX: 'start',
          overlayY: 'center',
          originX: 'end',
          originY: 'top'
        }
      ]"
      [cdkConnectedOverlayOffsetY]="-40"
      [cdkConnectedOverlayOrigin]="cashCounterTrigger"
      [cdkConnectedOverlayOpen]="isCashSummaryOpen"
    >
      <app-cash-counter
        (close)="this.isCashSummaryOpen = false"
        (mouseleave)="this.cashCounterPanelSubscription.next(false)"
        (mouseenter)="this.cashCounterPanelSubscription.next(true)"
      ></app-cash-counter>
    </ng-template>
  </div>
  <div class="iconBadges" *ngIf="(dataProvider.clientHeight | async) < 717">
    <!-- <div class="badge">
      <mat-icon>inventory</mat-icon>
    </div> -->
    <viraj-button
      type="outline"
      color="primary"
      cdkOverlayOrigin
      id="stockValuationTrigger"
      #stockValuationTrigger="cdkOverlayOrigin"
      (mouseleave)="this.closeStockValuePanelSubscription.next(false)"
      (mouseenter)="isStockValuationOpen = true"
    >
      <!-- <mat-icon>inventory</mat-icon> -->
      {{ stockValuation | currency: "INR" : true }}
    </viraj-button>
    <viraj-button
      type="outline"
      color="primary"
      cdkOverlayOrigin
      id="cashCounterTrigger"
      #cashCounterTrigger="cdkOverlayOrigin"
      (mouseleave)="this.cashCounterPanelSubscription.next(false)"
      (mouseenter)="isCashSummaryOpen = true"
    >
      <!-- <mat-icon>payments</mat-icon> -->
      {{ totalCash | currency: "INR" : true }}
    </viraj-button>
    <!-- <button mat-icon-button color="primary">
      <mat-icon>south</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>north</mat-icon>
    </button> -->
    <app-receiving (click)="openReceiving()"></app-receiving>
    <app-dispersion (click)="openDispersion()"></app-dispersion>
    <viraj-button
      (vclick)="closeIn()"
      matRipple
      mat-flat-button
      color="primary"
      *ngIf="(dataProvider.clientHeight | async) < 717"
      >Close In</viraj-button
    >
    <ng-template
      *ngIf="!this.dataProvider.touchMode"
      cdkConnectedOverlay
      [cdkConnectedOverlayPositions]="[
        { overlayX: 'start', overlayY: 'top', originX: 'end', originY: 'top' }
      ]"
      [cdkConnectedOverlayOffsetY]="-40"
      [cdkConnectedOverlayOrigin]="stockValuationTrigger"
      [cdkConnectedOverlayOpen]="isStockValuationOpen"
    >
      <app-stock-valuation
        (close)="this.isStockValuationOpen = false"
        (mouseleave)="this.closeStockValuePanelSubscription.next(false)"
        (mouseenter)="this.closeStockValuePanelSubscription.next(true)"
      ></app-stock-valuation>
    </ng-template>
    <ng-template
      *ngIf="!this.dataProvider.touchMode"
      cdkConnectedOverlay
      [cdkConnectedOverlayPositions]="[
        {
          overlayX: 'start',
          overlayY: 'center',
          originX: 'end',
          originY: 'top'
        }
      ]"
      [cdkConnectedOverlayOffsetY]="-40"
      [cdkConnectedOverlayOrigin]="cashCounterTrigger"
      [cdkConnectedOverlayOpen]="isCashSummaryOpen"
    >
      <app-cash-counter
        (close)="this.isCashSummaryOpen = false"
        (mouseleave)="this.cashCounterPanelSubscription.next(false)"
        (mouseenter)="this.cashCounterPanelSubscription.next(true)"
      ></app-cash-counter>
    </ng-template>
  </div>
  <ng-container *ngIf="(dataProvider.clientHeight | async) >= 896">
    <app-receiving (click)="openReceiving()"></app-receiving>
    <app-dispersion (click)="openDispersion()"></app-dispersion>
  </ng-container>
  <div
    class="row"
    *ngIf="(dataProvider.clientHeight | async) < 896 && (dataProvider.clientHeight | async) > 717"
  >
    <app-receiving (click)="openReceiving()"></app-receiving>
    <app-dispersion (click)="openDispersion()"></app-dispersion>
  </div>
  <viraj-button (vclick)="closeIn()" *ngIf="(dataProvider.clientHeight | async) >= 717"
    >Close In</viraj-button
  >
  <!-- hovers -->
</section>
