@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  .seeMore {
    display: flex;
    justify-content: flex-end;
    color: var(--Vrajera-primary);
    font-weight: 600;
    cursor: pointer;
    .actions {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .mat-icon {
      margin-left: 5px;
    }
  }

  .main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .expand {
      width: min-content;
      margin: 0 auto;
      display: block;
      background: var(--Vrajera-primary);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      ::ng-deep {
        .mat-icon {
          color: white;
        }
      }
    }

    .details {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4px;
      align-items: center;
      span {
        // border: 1px solid #ccc;
        display: flex;
        color: rgb(79, 79, 79);
        align-items: center;
        gap: 10px;
        p {
          margin: 0px;
        }

        strong {
          font-size: var(--Vrajera-font-large);
          color: var(--Vrajera-primary);
          font-weight: 600;
        }
      }
    }

    .actions {
      display: grid;
      grid-template-areas: "a a b b" "c d e f";
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      viraj-button {
        width: 100%;
      }
      viraj-button:nth-child(1) {
        grid-area: a;
      }
      viraj-button:nth-child(2) {
        grid-area: b;
      }
      viraj-button:nth-child(3) {
        grid-area: c;
      }
      viraj-button:nth-child(4) {
        grid-area: d;
      }
      viraj-button:nth-child(5) {
        grid-area: e;
      }
      viraj-button:nth-child(5) {
        grid-area: f;
      }
    }

    .customer {
      padding: 7px 20px;
      width: 100%;
      margin: 0 auto;
      font-size: var(--Vrajera-font-xxlarge);
      background: var(--Vrajera-primary);
      border-radius: 7px;
      color: white;
      box-shadow: 0px 0px 10px 0px rgba(255, 60, 0, 0.2);
      border: none;
      animation: popIn 0.5s cubic-bezier(0.83, 0, 0.17, 1);
    }
  }
}

@media screen and (max-width: 1366px) {
  section {
    .main {
      padding: 7px;
      .details {
        span {
          padding: 4px;
        }
      }
    }
  }
}
