<section>
  <div class="seeMore" *ngIf="dataProvider.moreActions">
    <div class="actions">
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (vclick)="dataProvider.currentBill ? dataProvider.currentBill.finalizeAndPrintKot(): {}">Re Print Bill</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (vclick)="finalizeBill()">Raise Concern</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (vclick)="cancelBill()">Cancel Bill</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (vclick)="seeMore=!seeMore">More</viraj-button>
    </div>
  </div>
  <div class="main">
    <div class="details">
      <span>
        <p>Order Bill No.</p>
        <strong>{{dataProvider.currentBill?.orderNo}}</strong>
      </span>
      <span>
        <p>Token No.</p>
        <strong>{{dataProvider.currentBill?.currentKot?.id || (dataProvider.currentBill?.kots || [])[(dataProvider.currentBill?.kots || []).length-1]?.id}}</strong>
      </span>
      <span>
        <p>Bill Total</p>
        <strong>{{dataProvider.currentBill?.billing?.grandTotal | currency:'INR'}}</strong>
      </span>
      <span>
        <p>Table No.</p>
        <strong>{{dataProvider.currentBill?.table?.name}}</strong>
      </span>
      <span *ngIf="this.dataProvider.currentBill?.stage=='active'">
        <mat-slide-toggle [disabled]="this.dataProvider.currentBill?.stage=='active' && !this.dataProvider.getAccess(['admin','manager','accountant'])" [(ngModel)]="isNonChargeable" (change)="nonChargeable($event)">Non Chargable</mat-slide-toggle>
      </span>
      <viraj-button *ngIf="this.dataProvider.currentBill?.stage=='active'" [small]="true" [minimalPadding]="true" type="outline" [disabled]="!this.dataProvider.currentBill" (vclick)="dataProvider.manageKot=!dataProvider.manageKot;dataProvider.kotViewVisible=false;dataProvider.manageKotChanged.next(dataProvider.manageKot);toggleManageKot()">{{dataProvider.manageKot==true ? 'Back' : 'Manage KOT'}}</viraj-button>
    </div>
    <div class="actions" *ngIf="this.dataProvider.currentBill?.stage=='active'">
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (click)="dataProvider.currentBill ? dataProvider.currentBill.finalizeAndPrintKot() : {}">Print KOT</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant'])" (vclick)="finalizeBill()">Finalize Bill</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant'])" (vclick)="addDiscount()">Discount</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (vclick)="this.dataProvider.allProducts=!this.dataProvider.allProducts">Preview</viraj-button>
      <!-- <button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" mat-flat-button (click)="dataProvider.moreActions=!dataProvider.moreActions">More</button> -->
      <viraj-button matTooltip="Add a bill note on the printed bill." [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant','waiter'])" (vclick)="dataProvider.currentBill ? dataProvider.currentBill.setInstruction() : {}">Note</viraj-button>
    </div>
    <div class="actions" *ngIf="this.dataProvider.currentBill?.stage=='finalized'">
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant'])" (vclick)="settleBill()">Settle Bill</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant'])" (vclick)="splitAndSettle()">Split Bill</viraj-button>
      <viraj-button [disabled]="!this.dataProvider.getAccess(['admin','manager','accountant'])" (vclick)="cancelBill()">Cancel</viraj-button>
    </div>
    <div class="actions" *ngIf="this.dataProvider.currentBill?.stage=='cancelled'">
      <viraj-button [disabled]="!this.dataProvider.currentBill">Open Table</viraj-button>
    </div>
    <viraj-button [disabled]="!this.dataProvider.currentBill" (vclick)="addCustomerInfo()" *ngIf="dataProvider.clientHeight < 890">Add Customer Info</viraj-button>
  </div>
</section>
