<section class="customerInfo" [ngClass]="{'pad':padding}">
    <h4>Customer Info</h4>
    <form [formGroup]="customerInfoForm">
        <div>
            <input [disabled]="this.dataProvider.currentBill?.stage!='active'" type="text" formControlName="name" placeholder="Customer Info">
            <input [disabled]="this.dataProvider.currentBill?.stage!='active'" type="tel" formControlName="phone" placeholder="Phone Number">
            <input [disabled]="this.dataProvider.currentBill?.stage!='active'" type="tel" formControlName="gst" placeholder="Gst">
            <input matInput placeholder="Address" formControlName="address">
            <input *ngIf="this.dataProvider.currentBill?.mode=='online'" [disabled]="this.dataProvider.currentBill?.stage!='active'" type="text" formControlName="deliveryName" placeholder="Agent Name">
            <input *ngIf="this.dataProvider.currentBill?.mode=='online'" [disabled]="this.dataProvider.currentBill?.stage!='active'" type="tel" formControlName="deliveryPhone" placeholder="Agent Phone">
            <!-- <mat-form-field appearance="outline" >
                <mat-label>Customer Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Customer Info">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Customer Name</mat-label>
                <input matInput type="tel" formControlName="phone" placeholder="Phone Number">
            </mat-form-field> -->
        </div>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
        </mat-form-field> -->
        <!-- <textarea matInput placeholder="Address" formControlName="address"></textarea> -->
    </form>
</section>
<section class="orders" *ngIf="dataProvider.smartMode" [ngClass]="{'pad':padding}">
    <p><b>Order Frequency : </b>
        <span>
            {{orderFrequency}}%
            in {{lastMonth}}
            <ng-container *ngIf="orderFrequency>=0">
                <i class="ri-arrow-up-line"></i>
            </ng-container>
            <ng-container *ngIf="orderFrequency<0">
                <i class="ri-arrow-down-line"></i>
            </ng-container>
        </span>
    </p>
    <p><b>Avg Order Price : </b> <strong>{{averageOrderPrice | currency:'INR'}}</strong></p>
    <p><b>Last Order : </b> {{wordsToSentence(lastOrderDish)}}</p>
</section>