<section>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="outline">
      <mat-label>Previous Password</mat-label>
      <input
        autocomplete="off"
        (keydown.enter)="newPassword.focus()"
        name="password"
        type="password"
        matInput
        formControlName="previousPassword"
        #previousPassword
      />
      <button
        color="primary"
        matSuffix
        tabindex="-1"
        type="button"
        *ngIf="previousPassword.type == 'password'"
        (click)="
          previousPassword.type == 'password'
            ? (previousPassword.type = 'text')
            : (previousPassword.type = 'password')
        "
        mat-icon-button
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        color="primary"
        matSuffix
        tabindex="-1"
        type="button"
        *ngIf="!(previousPassword.type == 'password')"
        (click)="
          previousPassword.type == 'password'
            ? (previousPassword.type = 'text')
            : (previousPassword.type = 'password')
        "
        mat-icon-button
      >
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        autocomplete="off"
        (keydown.enter)="confirmPassword.focus()"
        name="newPassword"
        type="password"
        matInput
        formControlName="newPassword"
        #newPassword
      />
      <button
        color="primary"
        matSuffix
        tabindex="-1"
        type="button"
        *ngIf="newPassword.type == 'password'"
        (click)="
          newPassword.type == 'password'
            ? (newPassword.type = 'text')
            : (newPassword.type = 'password')
        "
        mat-icon-button
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        color="primary"
        matSuffix
        tabindex="-1"
        type="button"
        *ngIf="!(newPassword.type == 'password')"
        (click)="
          newPassword.type == 'password'
            ? (newPassword.type = 'text')
            : (previousPassword.type = 'password')
        "
        mat-icon-button
      >
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input
        autocomplete="off"
        (keydown.enter)="submit.focus()"
        name="confirmPassword"
        type="password"
        matInput
        formControlName="confirmPassword"
        #confirmPassword
      />
      <button
        color="primary"
        matSuffix
        tabindex="-1"
        type="button"
        *ngIf="confirmPassword.type == 'password'"
        (click)="
          confirmPassword.type == 'password'
            ? (confirmPassword.type = 'text')
            : (confirmPassword.type = 'password')
        "
        mat-icon-button
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        color="primary"
        matSuffix
        tabindex="-1"
        type="button"
        *ngIf="!(confirmPassword.type == 'password')"
        (click)="
          confirmPassword.type == 'password'
            ? (confirmPassword.type = 'text')
            : (previousPassword.type = 'password')
        "
        mat-icon-button
      >
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <div class="actions">
      <button
        (click)="cancel()"
        type="button"
        mat-stroked-button
        color="primary"
      >
        Cancel
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!resetPasswordForm.valid"
        #submit
      >
        Submit
      </button>
    </div>
  </form>
</section>
