<section>
    <div id="search" [class]="active ? 'active' :''" *ngIf="dataProvider.clientWidth >= 900 || searchVisible">
        <input (input)="searchSubscription.next(search.value)" #search (focus)="active = true" (blur)="active=false" type="search" [placeholder]="dynamicPlaceholder">
        <viraj-button *ngIf="dataProvider.clientWidth < 900" [minimalPadding]="true" type="icon"><i class="ri-search-line"></i></viraj-button>
        <viraj-button *ngIf="dataProvider.clientWidth < 900" [minimalPadding]="true" type="icon" (vclick)="searchVisible=false"><i class="ri-close-fill"></i></viraj-button>
    </div>
    <viraj-button type="icon" (vclick)="searchVisible=true" *ngIf="dataProvider.clientWidth < 900 && !searchVisible">
        <i class="ri-search-line"></i>
    </viraj-button>
    <ng-container *ngIf="!searchVisible">
        <viraj-button color="primary" (vclick)="selectTable()">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="m240 896 60-150q9-23 29-36.5t45-13.5h76V535q-159-5-264.5-45T80 396q0-58 117-99t283-41q166 0 283 41t117 99q0 54-105.5 94T510 535v161h76q24 0 44.5 13.5T660 746l60 150h-60l-55-140H356l-56 140h-60Zm240-420q108 0 202-22t143-58q-49-36-143-58t-202-22q-108 0-202 22t-143 58q49 36 143 58t202 22Zm0-80Z"/></svg>
            <ng-container *ngIf="dataProvider.clientWidth > 1400">
                {{dataProvider.clientWidth < 1500 ? 'Table' : 'View Table '}}
            </ng-container>
        </viraj-button>
        <mat-button-toggle-group value="dineIn" color="primary" (change)="switchMode($event)" [value]="this.dataProvider.currentMenu?.type" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle color="primary" value="dineIn" *ngIf="this.dataProvider.activeModes[0]">
                <ng-container>Dine In</ng-container>
            </mat-button-toggle>
            <mat-button-toggle color="primary" value="takeaway" *ngIf="this.dataProvider.activeModes[1]">
                <ng-container>Takeaway</ng-container>
            </mat-button-toggle>
            <mat-button-toggle color="primary" value="online" *ngIf="this.dataProvider.activeModes[2]">
                <ng-container>Online</ng-container>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </ng-container>
</section>