section {
  height: 100%;
  .categories {
    transition: all 0.5s ease-in-out;
    span {
      position: sticky;
      z-index: 1;
      top: 0;
      height: 30px;
      background: white;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      color: var(--Vrajera-primary);
      font-size: var(--Vrajera-font-large);
      strong {
        color: black;
        text-transform: uppercase;
      }
    }
  }
  .categoriesExpanded {
    // height: calc(100vh - 300px);
  }
}
// @media screen and (max-width: 717px) {
//     section{
//         .actions{
//             button{
//                 padding: 5px 20px;
//             }
//         }
//     }
// }
// @media screen and (min-height: 766px) {
//     section{
//         .categories{
//             span{
//                 // background: purple;
//             }
//             height: calc(100vh - 460px);
//         }
//     }
// }
// @media screen and (min-height:800px) {
//     section{
//         .categories{
//             span{
//                 // background: yellow;
//             }
//             height: calc(100vh - 480px);
//         }
//     }
// }
// @media screen and (min-height: 900px) {
//     section{
//         .categories{
//             span{
//                 // background: blue;
//             }
//             height: calc(100vh - 600px);
//         }
//     }
// }

@media (max-width: 1366px) {
  .categories {
    span {
      height: 30px !important;
      padding: 0px 5px !important;
    }
  }
}
