h3 {
  position: sticky;
  top: 0px;
  background: white;
  margin: 0px;
  padding: 20px;
  z-index: 2;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
section {
  // height: calc(40vh - 100px);
  overflow-y: auto;
  .dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  h3 {
    padding: 10px 20px;
    font-size: var(--Vrajera-font-medium);
  }
}
