section {
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
