section{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    // height: 100%;
    // overflow-y: auto;
    background: white;
    div{
        height: 200px;
    }
    &.align{
        justify-content: space-evenly;
    }
}
.productArea{
    background: white;
    background-image: url('^assets/images/background.svg');
    background-repeat: repeat;
    background-size: 400px;
    background-attachment: fixed;
    height: calc(100% - 80px);
    align-items: flex-start;
    align-content: flex-start;
}
.noPadding{
    padding: 0;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 9;
    input{
        width: 100%;
        height: 40px;
        border: none;
        font-size: var(--Viraj-font-large);
        border-bottom: 1px solid #ccc;
        background: white;
        padding: 5px 20px;
    }
}