<ng-container *ngIf="!this.selectedCombo">
  <section class="noPadding" *ngIf="currentCategory || this.searchVisible">
    <div class="headSpan">
      <h3>
        <ng-container *ngIf="this.searchVisible">
          Search Results
        </ng-container>
        <ng-container *ngIf="!this.searchVisible">
          {{ currentCategory.name | titlecase }}
        </ng-container>
      </h3>
      <input *ngIf="!this.searchVisible"
        type="search"
        placeholder="Search In Category"
        (input)="categoryWiseSearchSubject.next(customSearch.value)"
        #customSearch
      />
    </div>
    <mat-progress-bar *ngIf="currentlyWaitingForSearchResults" mode="indeterminate"></mat-progress-bar>
    <div class="resultError"
      *ngIf="
      (this.mode == 'combos' && categoryWiseSearchedValue && this.categoryComboSearchResults.length ==0) ||
      (this.mode == 'products' && categoryWiseSearchedValue && this.categoryProductSearchResults.length ==0)
      "  
    >
      No Results Found For {{categoryWiseSearchedValue}}
    </div>
  </section>
  <section class="productArea" [ngClass]="{notFound:this.searchVisible && this.searchResults.length == 0}">
    <ng-container *ngIf="!this.searchVisible">
      <ng-container *ngIf="mode == 'products'">
        <app-product-card
              *ngIf="this.dataProvider.openItemEnabled"
              [taxes]="[]"
              (vclick)="openItem(openCategory)"
              [tags]="[]"
              [openItem]="true"
              [category]="openCategory.name"
              productName="Open Item"
              [veg]="true"
              [price]="0"
            >
            </app-product-card>
        <ng-container
          *ngFor="
            let item of this.categoryProductSearchResults.length > 0
              ? categoryProductSearchResults
              : products
          "
        >
          <app-product-card
            [taxes]="item.taxes"
            (vclick)="item.taxes ? selectProduct(item) : {}"
            [tags]="item.tags"
            [category]="item.category.name"
            [productName]="item.name"
            [veg]="item.type == 'veg'"
            [price]="item.price"
            *ngIf="item.visible"
          ></app-product-card>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="mode == 'combos'">
        <ng-container
          *ngFor="
            let item of this.categoryComboSearchResults.length > 0
              ? categoryComboSearchResults
              : combos
          "
        >
          <app-combo-card *ngIf="item.enabled"
            [combo]="item"
            (open)="selectCombo($event)"
          ></app-combo-card>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="this.searchVisible">
      <ng-container
          *ngFor="let item of this.searchResults"
        >
          <app-product-card
            [taxes]="item.taxes"
            (vclick)="item.taxes ? selectProduct(item) : {}"
            [tags]="item.tags"
            [category]="item.category.name"
            [productName]="item.name"
            [veg]="item.type == 'veg'"
            [price]="item.price"
            *ngIf="item.visible"
          ></app-product-card>
      </ng-container>
      <img class="notFound" src="assets/images/notFound.svg" *ngIf="this.searchResults.length == 0">
    </ng-container>
  </section>
</ng-container>
<ng-container *ngIf="this.selectedCombo">
  <section class="noPadding comboHeading" *ngIf="this.selectedCombo">
    <div class="headSpan">
      <viraj-button type="icon" (vclick)="selectedCombo = undefined"
        ><i class="ri-close-fill"></i
      ></viraj-button>
      <h3>{{ this.selectedCombo.name | titlecase }}</h3>
    </div>
  </section>
  <section class="productArea combos">
    <!-- selected type -->
    <div class="selectedType" *ngIf="selectedCombo">
      <!-- <div class="type">
        <viraj-button type="icon" (vclick)="selectedCombo = undefined"
          ><i class="ri-arrow-left-fill"></i
        ></viraj-button>
        <p>{{ selectedCombo.name }}</p>
      </div> -->
      <div class="categories">
        <ng-container *ngFor="let category of selectedCombo.selectedCategories">
          <div class="products">
            <div class="heading">
              <h4>{{ category.category.name }}</h4>
            </div>
            <div class="productsContainer">
              <ng-container *ngFor="let product of category.category.products">
                <app-product-card
                  [taxes]="product.taxes"
                  (vclick)="
                    product.taxes ? selectComboProduct(product, category) : {}
                  "
                  [tags]="product.tags"
                  [category]="product.category.name"
                  [productName]="product.name"
                  [veg]="product.type == 'veg'"
                  [price]="product.price"
                  *ngIf="product.visible && product.selected"
                ></app-product-card>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</ng-container>
