<form [formGroup]="reasonForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
        <mat-label>Reason</mat-label>
        <input matInput placeholder="Reason" formControlName="reason">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" #passwordInput>
        <button color="primary" matSuffix tabindex="-1" type="button" *ngIf="passwordInput.type == 'password'" (click)="passwordInput.type == 'password' ? passwordInput.type = 'text' : passwordInput.type = 'password'" mat-icon-button><mat-icon>visibility</mat-icon></button>
        <button color="primary" matSuffix tabindex="-1" type="button" *ngIf="!(passwordInput.type == 'password')" (click)="passwordInput.type == 'password' ? passwordInput.type = 'text' : passwordInput.type = 'password'" mat-icon-button><mat-icon>visibility_off</mat-icon></button>
    </mat-form-field>
    <div class="actions">
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
</form>