.kotEditOptions{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    align-items: center;
    border-left: 10px solid ;
    padding-inline: 20px;
    span{
        display: flex;
        align-items: center;
        font-size: var(--Viraj-font-xlarge);
        strong{
            display: flex;
            align-items: center;
            color: var(--Viraj-primary);
        }
    }
}