<div class="overlay" *ngIf="dataProvider.loading">
  <mat-spinner diameter="70" mode="indeterminate"> </mat-spinner>
</div>
<main>
  <div
    class="offlineBar"
    [@fadeInDownOnEnter]
    [@fadeOutUpOnLeave]
    *ngIf="this.dataProvider.offline"
    [ngClass]="{
      online: this.dataProvider.backOnline | async
    }"
  >
    <ng-container *ngIf="!this.dataProvider.updating">
      System is currently offline !!!
    </ng-container>
  </div>
  <router-outlet #outlet="outlet"></router-outlet>
</main>