section {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  .actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    button[mat-flat-button] {
      color: white;
    }
  }
}
