section{
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
    // test
    height: 100px;
    background-image: url('^assets/images/viraj-doodle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    img{
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 5px;
        h1{
            margin: 0px;
            text-align: start;
            text-transform: uppercase;
            font-size: var(--Viraj-font-size-xxxlarge);
            letter-spacing: 2px;
        }
        .row{
            display: flex;
            gap: 20px;
            p{
                margin: 0px;
                display: flex;
                align-items: center;
                font-size: var(--Viraj-font-medium);
                img{
                    width: 12px;
                    height: 20px;
                    margin-right: 0px;
                }
                i{
                    color:var(--Viraj-primary)
                }
            }
            .version{
                font-size: var(--Viraj-font-medium);
                color:darkgray;
            }
            button{
                cursor: pointer;
                background: #FF5E35;
                color: white;
                padding: 7px 10px;
                border: 1px solid #FF5E35;
                box-shadow: 0px 2px 8px rgba(21, 21, 21, 0.1);
                border-radius: 8px;
            }
        }
    }
}
@media (max-width: 1370px) {
    section{
        padding: 5px;
        height: 60px;
        .main{
            background: rgba(255,255,255,0.5);
            backdrop-filter: blur(10px);
            padding: 0px;
            .row{
                align-items: center;
                button{
                    padding: 5px;
                }
            }
        }
    }
}