
section {
  background: white;
  border-radius: 20px;
  max-height: 80vh;
  overflow-y: auto;
  .heading{
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  border-bottom: 2px solid #c7c7c7;
	  padding: 0px 30px;
	}
  h1 {
    font-size: var(--Viraj-font-xxxlarge);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    mat-form-field {
      width: 100%;
      margin-bottom: 1rem;
    }

    .fullWidth{
      grid-column: 1/3;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      grid-column: 1/3;
    }
  }
}
