<section>
  <div class="heading">
    <h1>Add New Product</h1>
    <viraj-button type="icon" (click)="cancel()"><i class="ri-close-fill"></i></viraj-button>
  </div>
  <form [formGroup]="newDishForm" (ngSubmit)="addDish()">

    <mat-form-field appearance="outline">
      <mat-label>Dish Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select placeholder="Tag" formControlName="type" name="tag">
        <mat-option *ngFor="let tag of type" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Label</mat-label>
      <mat-select formControlName="tag" name="label">
        <mat-option *ngFor="let label of tags" [value]="label">
          {{ label.name | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>Printer</mat-label>
      <mat-select formControlName="specificPrinter" name="label">
        <mat-option *ngFor="let label of localPrinterConfig" [value]="label.printerName">
          {{ label.printerName }}
        </mat-option>
        <mat-option value="">{{defaultPrinters.kotPrinter}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="actions">
      <button
        mat-stroked-button
        (click)="cancel()"
        type="button"
        color="primary"
      >
        Cancel
      </button>
      <button mat-flat-button type="submit" color="primary">
        {{ this.data.mode == "add" ? "Add New" : "Update" }} Product
      </button>
    </div>
  </form>
</section>
