form {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  h3,
  .actions {
    grid-column: 1 / 3;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}
