.charges{
	div > *:nth-child(1){
		text-align: start;
	}
	div > *:last-child{
		text-align: end;
	}
	.heading{
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 2fr;
		gap:20px;
		width: 100%;
		justify-content: space-between;
	}
	.charge{
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 2fr;
		gap:20px;
		width: 100%;
		justify-content: space-between;
		input{
			border-radius: 5px;
			padding: 5px;
			border: 2px solid #eee;
			box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
		}

	}
}