<h3>Account Settings</h3>
<div>
  <table class="styled-table" id="reportTable">
    <thead>
      <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Update By</th>
        <th>Created On</th>
        <th>
          <button
            mat-raised-button
            *ngIf="this.dataProvider.getAccess('addAccount')"
            (click)="addAccount()"
          >
            New
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let account of this.dataProvider.currentBusiness?.users;
          let i = index
        "
      >
        <td>
          <ng-container *ngIf="!account.new">
            {{ account.username }}
          </ng-container>
          <input
            class="username"
            placeholder="Username"
            type="text"
            [(ngModel)]="account.username"
            *ngIf="account.new"
          />
        </td>
        <td class="select">
          <mat-select
            placeholder="Select"
            (valueChange)="account.new ? {} : updateBusiness()"
            *ngIf="account.accessType == 'role'"
            [(ngModel)]="account.role"
            name="access"
          >
            <mat-option
              *ngFor="let access of this.dataProvider.accessLevels"
              [value]="access"
            >
              {{ access | titlecase }}
            </mat-option>
          </mat-select>
          <p *ngIf="account.accessType == 'custom'">Custom Access</p>
        </td>
        <td>{{ account.updatedBy }}</td>
        <td>
          {{ account.lastUpdated.toDate() | date: "short" }}
        </td>
        <td>
          <button
            mat-flat-button
            *ngIf="account.new"
            color="primary"
            (click)="updateBusiness()"
          >
            Update
          </button>
          <button
            *ngIf="this.dataProvider.getAccess('removeAccount')"
            mat-icon-button
            (click)="deleteAccount(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
