<section>
  <div class="header">
    <h3>Your Account</h3>
    <div class="actions">
      <strong>Access:</strong>
      <span>{{this.dataProvider.currentBusinessUser?.access.accessLevel}}</span>
    </div>
  </div>
  <div class="item">
    <p>
      <mat-icon>person</mat-icon>
      Username
    </p>
    <p>{{this.dataProvider.currentBusinessUser?.name}}</p>
  </div>
  <div class="item">
    <p>
      <mat-icon>storefront</mat-icon>
      Business Id
    </p>
    <p>{{this.dataProvider.currentBusinessUser?.businessId}}</p>
  </div>
  <div class="item">
    <p>
      <mat-icon>title</mat-icon>
      Name
    </p>
    <p>{{this.dataProvider.currentBusinessUser?.name}}</p>
  </div>
  <div class="item">
    <p>
      <mat-icon>date_range</mat-icon>
      Date Of Joining
    </p>
    <p>{{this.dataProvider.currentBusinessUser?.joiningDate.toDate() | date}}</p>
  </div>
  <button mat-stroked-button color="primary" (click)="resetPassword()">
    Reset Password
  </button>
</section>
<section>
  <div class="header">
    <h3>Server Info</h3>
  </div>
  <div class="item">
    <p>
      <mat-icon>person</mat-icon>
      Biller Version
    </p>
    <p>{{version}}</p>
  </div>
  <div class="item">
    <p>
      <mat-icon>storefront</mat-icon>
      Server Version
    </p>
    <p>1.0.0</p>
  </div>
  <button mat-stroked-button color="primary" (click)="electronService.checkForUpdate()">
    Check For Updates
  </button>
</section>
