@keyframes slideLeftIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 11px;
  // align-items: flex-start;
  justify-content: space-between;
  animation: slideLeftIn 0.5s forwards;
  app-info-panel {
    box-shadow: var(--Viraj-shadow-light);
    border-bottom-right-radius: var(--Viraj-border-radius);
    border: var(--Viraj-border-default);
    border-top: none;
    border-left: none;
  }
  app-menu {
    overflow-y: auto;
    border: var(--Viraj-border-default);
    border-left: none;
    height: 100%;
    box-shadow: var(--Viraj-shadow-light);
    border-top-right-radius: var(--Viraj-border-radius);
    border-bottom-right-radius: var(--Viraj-border-radius);
  }
  app-stock {
    border: var(--Viraj-border-default);
    border-left: none;
    border-bottom: none;
    box-shadow: var(--Viraj-shadow-light);
    border-top-right-radius: var(--Viraj-border-radius);
  }
  &.collapsed {
    display: grid;
    grid-template-rows: 0fr 1fr;
    justify-content: stretch;
    app-info-panel {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: var(--Viraj-border-radius);
    }
    app-menu {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    app-stock {
      border-top-right-radius: var(--Viraj-border-radius);
      border-bottom-right-radius: 0;
    }
  }
  .actions {
    position: sticky;
    z-index: 2;
    bottom: 0px;
    background: white;
    box-shadow: 0px -15px 30px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    span.badge {
      font-size: var(--Viraj-font-medium);
      padding: 6px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      // flex-direction: column;
      gap: 5px;
      border-radius: var(--Viraj-border-radius);
      font-size: var(--Viraj-font-medium);
      p {
        margin: 0px;
        color: black;
      }
      span {
        color: black;
      }
      b {
        font-weight: bold;
        font-size: var(--Viraj-font-xlarge);
      }
    }
    span.sales {
      color: #ff5e35;
      background: #fff8f8;
      border-color: #ff5e35;
      font-size: var(--Viraj-font-medium);
      b {
        color: #ff5e35;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  app-stock {
    // height: 191px;
  }
  app-menu {
    min-width: 235px;
    width: 100%;
  }
}
@media screen and (min-height: 800px) {
  app-stock {
    // height: 254px;
  }
  app-menu {
  }
}
