<section>
    <h1>Add New Product</h1>
    <form [formGroup]="newDishForm" (ngSubmit)="addDish()">
        <mat-form-field appearance="outline">
            <mat-label>Dish Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select placeholder="Tag" formControlName="type" name="tag">
                <mat-option *ngFor="let tag of type" [value]="tag">
                    {{tag}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <div class="tags">
            <ol>
                <li *ngFor="let tag of tags">
                    <i *ngIf="tag.important" (click)="tag.important = !tag.important" class="ri-shield-check-fill"></i>
                    <i *ngIf="!tag.important" class="ri-shield-line"></i>
                    {{tag.name}}
                    <mat-select placeholder="Placeholder" (valueChange)="" name="item">
                        <mat-option *ngFor="let item of items" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </li>
            </ol>
        </div> -->
        <hr>
        <!-- <h4>Variants 
            <button mat-fab color="primary" (click)="addVariant()">
                <mat-icon>add</mat-icon>
            </button>
        </h4>
        <div class="variants">
            <div class="variant" *ngFor="let variant of variants; let i = index">
                <mat-form-field appearance="outline">
                    <mat-label>Variant Name</mat-label>
                    <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="variant.variantName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Variant Price</mat-label>
                    <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="variant.price">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="removeVariant(i)"><mat-icon>delete</mat-icon></button>
            </div>
        </div> -->
        <div class="actions">
            <button mat-stroked-button (click)="cancel()" type="button" color="primary">Cancel</button>
            <button mat-flat-button type="submit" color="primary">{{this.data.mode == 'add' ?  'Add New' : 'Update'}} Product</button>
        </div>
    </form>
</section>