<section>
    <h1>Add New Categories</h1>
    <form [formGroup]="newCategoryForm">
        <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <input type="text" formControlName="name" matInput>
        </mat-form-field>
        <div class="filters">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input type="text" formControlName="search" matInput>
            </mat-form-field>
            <!-- <div class="pricing">
                <p>Price</p>
                <mat-slider showTickMarks min="0" [max]="maxPrice" step="50" showTickMarks discrete [displayWith]="formatLabel">
                    <input matSliderStartThumb>
                    <input matSliderEndThumb>
                </mat-slider>                      
            </div> -->
        </div>
        <div class="productList">
            <div class="product" *ngFor="let product of searchResults.length > 0 ? searchResults : products">
                <p>{{product.name}}</p>
                <div class="pricing">
                    <strong>{{product.price | currency:'INR'}}</strong>
                    <mat-slide-toggle [(ngModel)]="product.selected" [ngModelOptions]="{standalone:true}"></mat-slide-toggle>
                </div>
            </div>
        </div>
        <div class="actions">
            <button color="primary" (click)="addCategory()" mat-stroked-button class="button stroked">Save</button>
            <button color="primary" (click)="cancel()" mat-flat-button class="button stroked">Cancel</button>
        </div>
    </form>
</section>