<form [formGroup]="paymentMethodForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" formControlName="name" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Detail</mat-label>
    <mat-select placeholder="Placeholder" formControlName="detail" name="item">
      <mat-option [value]="true"> Required </mat-option>
      <mat-option [value]="false"> Not Required </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle #directSettleButton formControlName="directSettleButton">Enable <strong>direct</strong> settle button</mat-slide-toggle>
  <mat-form-field *ngIf="directSettleButton.checked" appearance="outline">
    <mat-label><app-helper tooltip="This text will be attached for this specific payment bill method."></app-helper> Short Code</mat-label>
    <input type="text" matInput formControlName="shortCode">
  </mat-form-field>
  <mat-slide-toggle *ngIf="directSettleButton.checked" formControlName="holdBill"><app-helper tooltip="Only available in takeaway and online mode."></app-helper>*Hold bill after <strong>direct</strong> settle.</mat-slide-toggle>
  <div class="actions">
    <button mat-stroked-button type="button" (click)="cancel()" color="primary">
      Cancel
    </button>
    <button mat-flat-button type="submit" color="primary">Submit</button>
  </div>
</form>
