main {
  padding: 30px;
  border-radius: 20px;
  background: white;
  width: 40vw;
  min-height: 30vh;
  section {
    padding: 20px;
    table {
      width: 100%;
      thead {
        tr {
          td {
            position: sticky;
            top: 0px;
            background: white;
            font-size: var(--Vrajera-font-xxlarge);
            padding: 8px;
            font-weight: 700;
          }
        }
      }
      tbody {
        max-height: 50vh;
        overflow-y: auto;
        tr {
          td {
            background: white;
            font-size: var(--Vrajera-font-xlarge);
            padding: 8px;
            color: #5f5f5f;
            input {
              width: 60px;
              padding: 5px;
              border-radius: 6px;
              box-shadow: 2px 1px 10px #0000001a;
            }
          }
          box-shadow: 2px 1px 10px #0000001a;
        }
      }
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1.5fr;
      gap: 30px;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      button {
        color: white;
      }
    }
    .pending {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .request {
        padding: 5px 30px;
        border-radius: 10px;
        width: calc(100% - 60px);
        background: #ffe1c2;
        display: flex;
        justify-content: space-between;
        font-size: var(--Vrajera-font-xlarge);
        span {
          display: flex;
          align-items: center;
          gap: 30px;
          p {
            color: var(--Vrajera-primary);
            font-weight: 500;
          }
        }
      }
    }
    .approved {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .request {
        padding: 5px 30px;
        border-radius: 6px;
        width: calc(100% - 60px);
        background: #e9fdf2;
        display: flex;
        justify-content: space-between;
        font-size: var(--Vrajera-font-xlarge);
        span {
          display: flex;
          align-items: center;
          gap: 30px;
          p {
            color: var(--Vrajera-success);
            font-weight: 500;
          }
        }
      }
    }
    .quotedPrice {
      font-size: var(--Vrajera-font-xlarge);
      font-weight: 400;
      color: #5f5f5f;
      strong {
        font-weight: 500;
        color: var(--Vrajera-primary);
      }
    }
    .alignCenter {
      display: block;
      margin: 0 auto;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    .actions {
      display: flex;
      justify-content: center;
      button[mat-flat-button] {
        color: white;
      }
    }
  }
}
button[mat-flat-button] {
  color: white;
}
