// basic animations slideFromTop, slideFromBottom, slideFromLeft, slideFromRight
@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
// Path: src/app/biller/biller.component.scss

main{
    display: grid;
    grid-template-columns: 1.3fr 3fr 2fr;
    gap:10px;
    height: 100vh;
    overflow-y: hidden;
    section.mainPanel{
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-rows: auto 3fr;
        height: 100vh;
        gap:10px;
        &.smartMode{
            grid-template-rows: auto 3fr 1.5fr;
        }
        app-search-panel{
            animation: slideFromTop 0.5s ease-in-out;
            border: 2px solid #ccc;
            border-radius: 0px 0px var(--Viraj-border-radius) var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
        }
        app-products-panel{
            height: 100%;
            position: relative;
            top:0px;
            border: 2px solid #ccc;
            border-radius: var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
            padding: 1px;
            animation: slideFromTop 0.5s ease-in-out;
            // &.smartMode{
            //     height: calc(100vh - 320px);
            // }
        }
        .smartSection{
            padding: 1px;
            border-left: none;
            border-right: none;
            display: grid;
            // height: 100%;
            grid-template-columns: 1fr 1fr;
            border: 2px solid #ccc;
            border-radius: var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
            animation: slideFromBottom 0.5s ease-in-out;
            overflow: hidden;
            app-recommended{
                border-right: 2px solid  #ccc;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            app-emergency{
                overflow-y: scroll;
                overflow-x: hidden;
            }
            mat-tab-group{
                height: 100%;
            }
        }
        @media screen and (max-width:1150px) {
            .smartSection{
                display: block;
            }
        }
    }
    section.action{
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap:10px;
        app-system{
            border: 2px solid #ccc;
            border-radius: 0px 0px 0px var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
            animation: slideFromRight 0.5s ease-in-out;
        }
        app-active-kot{
            height: 100%;
            overflow-y: scroll;
            // height: 40vh;
            // height: calc(100% - 570px);
            border: 2px solid #ccc;
            border-radius: var(--Viraj-border-radius) 0px 0px var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
            animation: slideFromRight 0.5s ease-in-out;
            transition: height 0.5s ease-in-out;
            // &.smartMode{
            //     height: calc(100% - 500px);
            // }
            // &.noSmartExpanded{
            //     height: calc(100% - 320px);
            // }
            // &.expanded{
            //     height: calc(100% - 500px);
            // }
        }
        // app-active-kot.active{
        //     height: 10vh;
        // }
        app-actions{
            border: 2px solid #ccc;
            border-radius: var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
            animation: slideFromRight 0.5s ease-in-out;
            transition: height 0.5s ease-in-out;
        }
        app-customer-panel{
            // height: calc(100vh - calc(65vh + 70px));
            padding-bottom: 20px;
            // overflow-y: auto;
            border: 2px solid #ccc;
            border-radius: var(--Viraj-border-radius);
            box-shadow: var(--Viraj-shadow-light);
            animation: slideFromRight 0.5s ease-in-out;
            // &.smartMode{
            //     height: calc(100vh - calc(75vh + 70px));
            // }
        }
    }
}
@media screen and (max-width:1366px) {
    main{
        grid-template-columns: 1.3fr 3fr 1.5fr;
    }
}