section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        font-size: medium;
        margin: 0px;
    }
    div.badges{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        span.badge{
            font-size: var(--Viraj-font-medium);
            padding: 5px;
            border:1px solid #ccc;
            display: flex;
            // flex-direction: column;
            gap:5px;
            border-radius: var(--Viraj-border-radius);
            font-size: var(--Viraj-font-large);
            span{
                color:black;
            }
            b{
                font-weight: 500;
                font-size: var(--Viraj-font-xlarge);
            }
        }
        span.sales{
            color:#E78C31;
            background: #FFF1E2;
            border-color: #E78C31;
            b{
                color:#E78C31;
            }
        }
        span.orders{
            color:#FF5E35;
            background: #FFF8F8;
            border-color: #FF5E35;
            b{
                color:var(--Viraj-primary-tint);
            }
        }
        
    }
}
@media (max-width: 1370px) {
    section{
        padding: 5px;
    }
}
