@keyframes slideInBelow {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
section {
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 10px 0px #ccc;
  animation: slideInBelow 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  canvas {
    // height: 50px !important;
    transform: translateY(-20%);
    width: 200px;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    gap: 20px;
    margin-bottom: 15px;
    div {
      display: flex;
      gap: 15px;
    }
    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    p {
      margin: 0px;
    }
  }
  li.one span {
    background: #ff6384;
  }
  li.two span {
    background: #36a2eb;
  }
  li.three span {
    background: #ffce56;
  }
  li.four span {
    background: #4bc0c0;
  }
}
