<section>
  <div class="actions">
    <p>Sales Summary</p>
    <button mat-icon-button (click)="close.emit(true)"><mat-icon>close</mat-icon></button>
  </div>
  <canvas #myChart></canvas>
  <div class="labels">
    <li class="one">
      <div>
        <span></span>
        <p>Dine</p>
      </div>
      <p>{{ dine | currency:'INR'}}</p>
    </li>
    <li class="two">
      <div>
        <span></span>
        <p>Take away</p>
      </div>
      <p>{{ takeAway | currency:'INR'}}</p>
    </li>
    <li class="three">
      <div>
        <span></span>
        <p>Online</p>
      </div>
      <p>{{ online | currency:'INR'}}</p>
    </li>
    <li class="four">
      <div>
        <span></span>
        <p>Non Chargeable</p>
      </div>
      <p>{{ nonChargable | currency:'INR'}}</p>
    </li>
    <hr>
    <li>
        <p>Total Orders</p>
        <p>{{ dine + takeAway + online | currency:'INR'}}</p>
    </li>
    <button mat-flat-button color="primary" *ngIf="this.dataProvider.getAccess(['admin','manager'])" (click)="openReports()">Full Report</button>
  </div>
</section>
