<section>
  <h3>Reorder Items</h3>
  <mat-accordion>
    <mat-expansion-panel
      hideToggle
      *ngFor="let group of this.dataProvider.groupedTables"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ group.name }} </mat-panel-title>
      </mat-expansion-panel-header>
      <div cdkDropListGroup>
        <div class="example-container">
          <h4>Tables</h4>
          <div
            cdkDropList
            [cdkDropListData]="group.tables"
            class="example-list"
            (cdkDropListDropped)="drop($event, group)"
          >
            <div class="example-box" *ngFor="let item of group.tables" cdkDrag>
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="actions">
    <viraj-button (click)="dialogRef.close()">Done</viraj-button>
  </div>
</section>
