section {
  padding: 30px;
  background: white;
  border-radius: 20px;
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    .actions {
      grid-column: 1/2;
    }
  }
}
