<!-- <section>
    <form [formGroup]="settleBillForm" (ngSubmit)="settleBill()">
        <mat-button-toggle-group name="paymentMethod" formControlName="paymentMethod" aria-label="Font Style" #paymentMethod>
            <mat-button-toggle value="card">Card</mat-button-toggle>
            <mat-button-toggle value="upi">UPI</mat-button-toggle>
            <mat-button-toggle value="cash">Cash</mat-button-toggle>
        </mat-button-toggle-group>
        <ng-container>
            <mat-form-field appearance="outline" *ngIf="settleBillForm.value.paymentMethod=='card'">
                <mat-label>Last Ending 4 Digits</mat-label>
                <input matInput formControlName="cardEnding" type="number" placeholder="Customer Name">
                <span matPrefix>**** **** **** </span>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="settleBillForm.value.paymentMethod=='upi'">
                <mat-label>UPI Address</mat-label>
                <input matInput formControlName="upiAddress" type="text" placeholder="Upi Address">
            </mat-form-field>
        </ng-container>
        <hr>
        <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="customerName" type="text" placeholder="Customer Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Customer Phone</mat-label>
            <input matInput formControlName="customerContact" type="number" placeholder="Customer Name">
        </mat-form-field>
        <div class="actions">
            <button mat-flat-button color="primary" [disabled]="!settleBillForm.valid" type="submit">Settle Bill</button>
            <button mat-flat-button color="primary" [disabled]="!settleBillForm.valid" (click)="splitAndSettle()" type="button">Split Settle Bill</button>
            <button mat-stroked-button color="primary" type="button" (click)="close()">Cancel</button>
        </div>
    </form>
</section> -->


<section>
    <h2>Settle Bill</h2>
    <div class="breakdown">
        <div class="total">
            <p>Bill Amount</p>
            <span>
                {{billSum | currency:'INR'}}
            </span>
        </div>
        <div class="total">
            <p>Total Paid</p>
            <span class="paid">
                {{totalPaid | currency:'INR'}}
            </span>
        </div>
        <div class="total">
            <p>Difference</p>
            <span [ngClass]="{'red':(billSum - totalPaid != 0)}">
                {{ totalPaid - billSum | currency:'INR'}}
            </span>
        </div>
    </div>
    <hr>
    <div class="methods">
        <div class="method" *ngFor="let method of methods; let i = index;">
            <select [tabindex]="i+1" #method [(ngModel)]="method.paymentMethod">
                <option *ngFor="let item of method.paymentMethods" [value]="item">{{item}}</option>
            </select>
            <input type="number" (keydown)="addOnReturn($event)" [tabindex]="i+2" [(ngModel)]="method.amount">
        </div>
        <div class="addMethod" (click)="addMethod()">
            <i class="ri-add-fill"></i> Add Method
        </div>
    </div>
    <form [formGroup]="detailForm" *ngIf="customDetailRequired">
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="tel" name="phone" matInput formControlName="phone">
        </mat-form-field>
    </form>
    <div class="actions">
        <button [tabindex]="methods.length+4" (click)="close()" mat-stroked-button color="primary">Cancel</button>
        <button [tabindex]="methods.length+3" (click)="settleBill()" mat-flat-button color="primary">Submit</button>
    </div>
</section>