<section>
  <h2>Add Discount</h2>
  <div class="container">
    <aside>
      <button *ngFor="let discount of this.dataProvider.currentBill.billing.discount;let i = index;" (click)="currentDiscount = discount;currentIndex=i" [ngClass]="{'selected':currentIndex==i}">
        <ng-container *ngIf="discount.mode=='codeBased'">
          {{discount.name}}
        </ng-container>
        <ng-container *ngIf="discount.mode=='directPercent'">
          -{{discount.value}}%
        </ng-container>
        <ng-container *ngIf="discount.mode=='directFlat'">
          -{{discount.value}}
        </ng-container>
      </button>
      <button (click)="addDiscount()"><i class="ri-add-fill"></i> Add Discount</button>
    </aside>
    <div class="main">
      <ng-container *ngIf="currentDiscount">
        <div class="mode">
          <mat-button-toggle-group name="mode" value="Coupon Code" [(ngModel)]="currentDiscount.mode" aria-label="Font Style" #mode>
            <mat-button-toggle *ngIf="this.dataProvider.getAccess('admin')" value="directPercent">Direct Percent</mat-button-toggle>
            <mat-button-toggle *ngIf="this.dataProvider.getAccess('admin')" value="directFlat">Direct Flat</mat-button-toggle>
            <mat-button-toggle value="codeBased">Uploaded</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="outline" *ngIf="currentDiscount.mode=='directPercent'">
          <mat-label>Direct Percent</mat-label>
          <input type="text" (keydown.enter)="reason.focus()" matInput [(ngModel)]="currentDiscount.value" />
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="currentDiscount.mode=='directFlat'">
          <mat-label>Direct Flat</mat-label>
          <input type="text" (keydown.enter)="reason.focus()" matInput [(ngModel)]="currentDiscount.value" />
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="currentDiscount.mode=='codeBased'">
          <mat-label>Select Discount</mat-label>
          <mat-select placeholder="Discount" (keydown.enter)="reason.focus()" [(ngModel)]="currentDiscount.id" (valueChange)="switchDiscount($event)" name="discount">
            <ng-container *ngFor="let discount of this.dataProvider.discounts">
              <mat-option [value]="discount.id" *ngIf="this.dataProvider.getAccess(discount.accessLevels)">
                <ng-container *ngIf="discount.name">
                  {{discount.name}}
                </ng-container>
                <ng-container *ngIf="!discount.name">
                  {{discount.value}} {{discount.type == 'percentage' ? '%' : 'Rs'}}
                </ng-container>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Reason</mat-label>
          <input type="text" matInput #reason (keydown.enter)="passwordInput.focus()" [(ngModel)]="currentDiscount.reason" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="text" matInput (keydown.enter)="submitBtn.focus()" [(ngModel)]="password" #passwordInput />
          <button color="primary" matSuffix tabindex="-1" type="button" *ngIf="passwordInput.type == 'password'" (click)="passwordInput.type == 'password' ? passwordInput.type = 'text' : passwordInput.type = 'password'" mat-icon-button><mat-icon>visibility</mat-icon></button>
          <button color="primary" matSuffix tabindex="-1" type="button" *ngIf="!(passwordInput.type == 'password')" (click)="passwordInput.type == 'password' ? passwordInput.type = 'text' : passwordInput.type = 'password'" mat-icon-button><mat-icon>visibility_off</mat-icon></button>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="!currentDiscount">
        <img class="notFound" src="assets/images/notFound.svg" alt="Not notFound">
        <p>No discounts found on this bill. Press add new to add a discount.</p>
      </ng-container>
    </div>
  </div>
  <div class="actions">
    <button mat-stroked-button color="primary" (click)="cancel()" type="button">Cancel</button>
    <button mat-raised-button color="primary" #submitBtn [disabled]="!discountForm.valid" type="submit">Add Discount</button>
  </div>
</section>
