<section [@shakeOnEnter] [@zoomOutOnLeave]>
    <h2>Apply discount</h2>
    <p>Applying to item <strong>{{product?.name}}</strong></p>
    <form [formGroup]="cancelForm">
        <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput type="text" formControlName="customerName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reason</mat-label>
            <input matInput type="text" formControlName="reason">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label> 
            <input matInput type="text" formControlName="password">
        </mat-form-field>
        <div class="actions">
            <button mat-stroked-button (click)="dialogRef.close()">Back</button>
            <button mat-raised-button color="primary" (click)="submit('unmade')">Cancel Un-Made</button>
            <button mat-raised-button color="primary" (click)="submit('made')">Cancel Made</button>
        </div>
    </form>
</section>