button{
    border: 0px;
    width: 100%;
    border-radius: var(--Viraj-border-radius);
    font-family: var(--Viraj-font);
    padding: 8px 14px;
    box-shadow:
      0.3px 0.9px 5px rgba(0, 0, 0, 0.027),
      1.6px 2px 10px rgba(0, 0, 0, 0.037),
      3px 4px 14px rgba(0, 0, 0, 0.051),
      5px 7px 18px rgba(0, 0, 0, 0.08)
    ;
    font-size: var(--Viraj-font-medium);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // transition: all 0s linear;
    gap:7px;
    cursor: pointer;
    ::ng-deep svg{
        max-width: 20px;
        max-height: 20px;
    }
    &:active{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        transform:scale(0.95);
    }
    &.solid{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        background: var(--Viraj-primary);
        color: whitesmoke;
        fill:white;
    }
    &.outline{
        border: 2px solid var(--Viraj-primary);
        color: var(--Viraj-primary);
        background: whitesmoke;
        fill:var(--Viraj-primary);
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    }
    &.icon{
        padding: 8px;
        max-width: 35px;
        max-height: 35px;
        border-radius: 50%;
        fill: var(--Viraj-primary);
        background: transparent !important;
        color: var(--Viraj-primary);
        box-shadow: none !important;
        ::ng-deep i{
            font-size:var(--Viraj-icon-medium);
        }
        &:active{
            box-shadow: none;
            transform:none !important;
        }
    }
    &.small{
        padding: 6px 12px;
        font-size: var(--Viraj-font-small);
        ::ng-deep svg{
            max-width: 15px;
            max-height: 15px;
        }
        &.animated{
            &:active{
                transform: translateY(2px) translateX(2px);
            }
        }
        &.icon{
            max-width: 25px;
            max-height: 25px;
            ::ng-deep i{
                font-size:var(--Viraj-icon-small);
            }
        }
    }
    &.large{
        padding: 10px 18px;
        font-size: var(--Viraj-font-large);
        ::ng-deep svg{
            max-width: 25px;
            max-height: 25px;
        }
        &.animated{
            &:active{
                transform: translateY(4px) translateX(4px);
            }
        }
        &.icon{
            max-width: 47px;
            max-height: 47px;
            padding: 10px;
            ::ng-deep i{
                font-size:var(--Viraj-icon-large);
            }
        }
    }
    &.extraLarge{
        padding: 12px 22px;
        font-size: var(--Viraj-font-xxlarge);
        ::ng-deep svg{
            max-width: 30px;
            max-height: 30px;
        }
        &.animated{
            &:active{
                transform: translateY(6px) translateX(6px);
            }
        }
        &.icon{
            max-width: 55px;
            max-height: 55px;
            padding: 15px;
            ::ng-deep i{
                font-size:var(--Viraj-icon-xlarge);
            }
        }
    }
    &.animated{
        transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6) !important;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
        &:active{
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
            transform: translateY(3px) translateX(3px);
        }
    }
    &.outline{
        &:hover{
            background: rgb(221, 221, 221) !important;
        }
    }
    &.icon{
        &:hover{
            background: rgba(var(--Viraj-primary-hover-rgb), 0.1) !important;
        }
    }
    &.solid{
        &:hover{
            background: var(--Viraj-primary-hover) !important;
        }
    }
    &.minimalPadding{
        padding: 4px 6px;
    }
    &[disabled]{
        filter: saturate(0%);
        cursor: not-allowed;
        &:hover{
            &.solid{
                background: var(--Viraj-primary) !important;
            }
            &.outline{
                background: whitesmoke !important;
            }
            &.icon{
                background: transparent !important;
            }
        }
    }
    &.smallIcon{
        ::ng-deep i{
            font-size:var(--Viraj-icon-small);
        }
    }
    &.mediumIcon{
        ::ng-deep i{
            font-size:var(--Viraj-icon-medium);
        }
    }
    &.largeIcon{
        ::ng-deep i{
            font-size:var(--Viraj-icon-large);
        }
    }
}