<section>
    <h1>Split Bill</h1>
    <div class="main">
        <div class="kotSpan">
            <h2>KOTs</h2>
            <div class="kots" [ngClass]="{'center':this.allKots.length == 0}">
                <ng-container *ngFor="let kot of this.allKots;let i = index;">
                    <div class="kot" *ngIf="kot.stage == 'finalized'">
                        <div class="heading" [ngStyle]="{
                            background: this.kotNoColors[i % this.kotNoColors.length].color,
                            color: this.kotNoColors[i % this.kotNoColors.length].contrast
                          }">
                            <span>
                                <mat-checkbox color="primary" [checked]="kot.allSelected" [indeterminate]="kot.someSelected" (change)="selectAll($event,kot)"></mat-checkbox>
                                <p>KOT No: <strong>{{kot.id}}</strong></p>
                            </span>
                        </div>
                        <ol>
                            <ng-container *ngFor="let item of kot.products">
                                <li *ngIf="!item.cancelled">
                                    <mat-checkbox [(ngModel)]="item.selected" (change)="checkAll($event,kot,item)" color="primary"></mat-checkbox>
                                    {{item.name | titlecase}} <span>{{item.quantity}} x {{item.price | currency:'INR'}}</span>
                                </li>
                            </ng-container>
                        </ol>
                    </div>
                </ng-container>
                <ng-container *ngIf="this.allKots.length == 0">
                    <img src="assets/images/notFound.svg" alt="Not found" class="notFound">
                    <h4>No kots found</h4>
                    <p>All kots have been splitted into bills</p>
                </ng-container>
            </div>
        </div>
        <div class="bills">
            <h2>Bills</h2>
            <div class="newBills" [ngClass]="{'center':this.splittedBills.length == 0}">
                <div class="bill" *ngFor="let bill of splittedBills">
                    <h3 *ngIf="bill.stage != 'settled'">Unsettled</h3>
                    <h3 class="settled" *ngIf="bill.stage == 'settled'">Settled</h3>
                    <app-bill-preview [printableBillData]="bill.printableBillData"></app-bill-preview>
                    <div class="actions">
                        <button mat-flat-button (click)="addDiscount(bill)" color="primary">Add Discount</button>
                        <button mat-flat-button (click)="settleBill(bill)" color="primary">Settle Bill</button>
                    </div>
                </div>
                <ng-container *ngIf="this.splittedBills.length == 0">
                    <img src="assets/images/notFound.svg" alt="Not found" class="notFound">
                    <h3>No bills found</h3>
                    <p>Select some kot and press split. And that will appear here as a bill.</p>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="actions">
        <button mat-flat-button color="primary" *ngIf="this.allKots.length > 0" (click)="splitBill()">Split</button>
        <button mat-flat-button color="primary" [disabled]="!allSettled" (click)="saveSplittedBill()">Save</button>
        <button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
    </div>
</section>