div.main{
    border: 2px solid #D7D7D7;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 7px;
    justify-content: space-between;
    background: white;
    .container{
        display: flex;
        gap: 5px;
        flex-direction: column;
        p{
            color: #444444;
            font-size: var(--Viraj-font-medium);
            margin: 0px;
            // word-break: break-all;
        }
        strong{
            color:var(--Viraj-primary);
            font-size: var(--Viraj-font-medium);
        }
    }
    span{
        font-size: var(--Viraj-font-small);
        color: #aaa;
    }
    &.veg{
        border-left: 5px solid #2BA063;
    }
    &.nonveg{
        border-left: 5px solid rgba(115, 17, 17, 0.688);
    }
    &:hover{
        border: 2px solid var(--Viraj-primary);
        cursor: pointer;
        &.veg{
            border-left: 5px solid #2BA063;
        }
        &.nonveg{
            border-left: 5px solid rgba(115, 17, 17, 0.688);
        }
    }
    span.tag{
        padding: 4px 7px;
        border-radius: 4px;
    }
}
div.small{
    width: 70px;
    height: auto;
}
@media (max-width: 1366px){
    div{
        width: 85px !important;
        height: 100px !important;
        padding: 5px !important;
        p{
            font-size: var(--Viraj-font-medium);
            text-overflow: hidden;
        }
        strong{
            font-size: var(--Viraj-font-large);
            color:rgb(195, 90, 90)
        }
    }
}
.danger{
    color: var(--Viraj-danger);
}