<div
  matRipple
  class="main"
  [ngClass]="{ small: smaller, veg: veg, nonveg: !veg }"
>
  <div class="container">
    <p>{{ productName | titlecase }}</p>
    <strong>{{ price | currency: "INR" }}</strong>
  </div>
  <ng-container *ngIf="taxes && taxes.length > 0">
    <div class="tags">
      <span
        class="tag"
        [ngStyle]="{ background: tag.color, color: tag.contrast }"
        *ngFor="let tag of tags"
      >
        {{ tag.name }}
      </span>
    </div>
    <span> {{ category }}</span>
  </ng-container>
  <p class="danger" *ngIf="!(taxes && taxes.length > 0)">No taxes</p>
</div>
