section{
    background: white;
    padding: 20px;
    form{
        display: flex;
        flex-direction: column;
        gap:20px;
        .conditions{
            display: grid;
            grid-template-columns: 1fr auto;
            gap:20px;
            .day{
                height: 100%;
                display: grid;
                place-items: center;
                background: white;
                border: 2px solid var(--Viraj-primary);
                padding: 15px;
                border-radius: 10px;
                box-sizing: border-box;
            }
            .parameters{
                display: flex;
                flex-direction: column;
                align-items: center;
                .param{
                    display: grid;
                    grid-template-columns: 1fr 1fr 2fr auto;
                    gap:10px;
                    align-items: center;
                    input[type="time"]{
                        height: 53px;
                        margin-bottom: 20px;
                        border-radius: 5px;
                        border: 1px solid #9e9e9e;
                        font-family: var(--Viraj-font);
                        font-size: 17px;
                        padding: 0px 10px;
                    }
                }
                button{
                    // take full width
                    grid-column: 1 / span 3;
                }
            }
        }
        .actions{
            display: flex;
            justify-content: flex-end;
            gap:20px;
        }
    }
}