.tableContainer{
    max-height: 50vh;
    overflow-y: auto;
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            position: sticky;
            top: 0;
            background: white;
            z-index: 9999;
            tr{
                padding: 15px;
                border: 1px solid #ddd;
                background: white;
                th{
                    padding: 10px;
                    border: 1px solid #ddd;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 10px;
                    border: 1px solid #ddd;
                }
            }
        }
    }
}