<section>
  <div class="list">
    <h3>Select <strong>main category</strong></h3>
    <mat-radio-group [(ngModel)]="mainCategory">
      <mat-radio-button
        [value]="item"
        *ngFor="let item of dialogData.mainCategories"
        >{{ item.name }}</mat-radio-button
      >
    </mat-radio-group>
    <hr />
    <h3>Select <strong>view categories</strong></h3>
    <mat-checkbox
      *ngFor="let item of viewCategories"
      [(ngModel)]="item.selected"
      >{{ item.name }}</mat-checkbox
    >
  </div>
  <div class="actions">
    <button color="primary" mat-stroked-button (click)="dialogRef.close()">
      Cancel
    </button>
    <button color="primary" mat-flat-button (click)="close()">Submit</button>
  </div>
</section>
